/* @override http://localhost:8080/styles/simplicity/providertool.css */


/* PROVIDERTOOL customising simplicity */

/* @group general */

h2 {
	margin-top: 20px;
}

.reminder {
	font-style: italic;
	color: gray;
	background: url(/images/mandatory.gif) no-repeat;
	padding-left: 20px;
}
.accepted {
	font-style: bold;
}

.synonym {
	font-style: italic;
	color: gray;
	padding-left: 10px;
}

div.break {
	clear: both;
	padding-top: 25px;
}
div.minibreak {
	clear: both;
	padding-top: 15px;
}
div.newline {
	padding-top: 5px;
	clear: both;
}
div.overhang {
	clear: both;
	padding-top: 5px;
	margin-left: 25px;
    float: left;
}


.subentry {
	display: block;
	color: #8f0000;
}

.subform {
	margin-left: 50px;
}


form .xlarge{
    width: 650px;
}
form textarea.xlarge{
    height: 20em;
}
form textarea.slim{
    height: 8em;
}
form .xhalf{
    width: 317px;
    float: left;
}

.tablefile{
	font-size:1em;
	line-height:1em;
}

.fullsize {
	width: 100%;
}

table.topheader td {
	padding-right: 10px;
}
table.topheader th{
	padding-top: 20px;
}
table.topheader td {
	padding-top: 5px;
}

table.lefthead td {
	padding-left: 20px;
}
table.lefthead th, table.lefthead td {
	padding-bottom: 5px;
}

table.layout tr td {
	padding-right: 10px;
}
table.layout tr th {
	padding-right: 10px;
}



/* @end */

/* @group header */

#logo {
	top: 15px;
	position: relative;
	left: 360px;
}

div#jsalert {
	float: none;
	width: 300px;
	font-style: italic;
	color: gray;
	padding: 10px 0 0;
	margin: 0;
	position: relative;
	left: 525px;
	top: -80px;
}
div#jsalert h2 {
	font-style: bold italic;
	color: red;
	margin: 0;
}

#currentResourceClass {
	background-color: #D7E9F5;
	color: #ffffff;
	text-align: center;
	position: relative;
	width: 90px;
	float: right;
	z-index: 4;
	padding: 2px;
	clear: both;
	top: 23px;
	left: -40px;
}

/* @end */

/* @group lists */

ul.actionmenu {
	list-style-type: none;
    padding: 0;
}
a.actionbutton, ul.actionmenu li{
	float: none;
	list-style-type: none;
	display: inline;
	border: 1px solid #c1c6d0;
    padding: 0;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 2px;
}

ul.actionmenu form {
	display: inline;
}
ul.actionmenu .wwFormTable{
	position: absolute;
}

ul.plain {
    list-style: none;
    padding: 0;
}

ul.minimenu{
    list-style: none;
    padding: 0;
}
ul.minimenu li{
	float: right;
	list-style-type: none;
	display: inline;
    margin: 0;
    padding: 0;
	padding-left: 10px;
}


ul.indexmenu {
	list-style-type: none;
    padding: 0;
}
ul.indexmenu li{
	float: none;
	list-style-type: none;
	display: inline;
	border: 1px solid #c1c6d0;
    padding: 0;
	padding-right: 2px;
	padding-left: 2px;
	margin: 0 2px;
	color: #ccc;
}



#taxnav, #locnav {
	float: left;
}

#sub label {
	display: block;
	margin-top: 20px;
	font-variant: normal;
	font-weight: bold;
	font-style: italic;
}

/* @end */


 

/* @group charts */


div.chart, div.map{
	width: 340px;
}
div.stat-table {
	width: 233px;
}

div.stat-table table{
	margin-top: 10px;
	line-height: 0.6em;
	font-size: 0.9 em;
}
div.stat-right{
	position: relative;
	left: 35px;
}
div.chart, div.stats{
	display: block;
	float: left;
	margin-bottom: 20px;
}

div.stats label{
	font-size: 1.2em;
	font-style: italic;
}
div.stats img{
	display: block;
	margin-top: 5px;
}
br.clearfix{
	margin-top: 75px;
	clear: both;
}

div.chart{
	height: 200px;
}
div.chart form, div.map form {
	float: right;
	bottom: 25px;
	position: relative;
}
.map img{
	border: 1px solid #000;
}

#stats-chart, #stats-menu, #stats-map {
	text-align: center; 
	margin: auto;
}
#stats-map {
	height: 225px; 
}

/* @end */

/* @group other */
 
.right{
	float: right;
	padding-left: 30px;
}

.rightf{
	float: right;
	padding-left: 20px;
	padding-right: 15px;
}

div#preview td {
	padding: 5px;
}

.citation{
	font-style: italic;
}


form#saveMappingProperties ul li {
    list-style-type: none;
    margin-left: 0;
	display: inline;
}

div.googlemap {
	float: right;
	padding-top: 5px;
	padding-right:25px
}


.info span{
	display: none;
	color: #555;
	padding: 5px;
}
.info:hover span{ /*the span will display just on :hover state*/
  position: absolute;
  top: 100px;
  right: 50px;
  display: block;
  background: #eee;
  border: 1px solid #555;
  text-align: left
}

#annotation div{
	position: fixed;
	top: 20px;
	right: 25px;
	width: 500px;
	background-color: #fefeed;
	opacity: 0.9;
	margin: 0;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	z-index: 5;
}


#annotations{
	padding: 15;
	border-width: 1px;
	margin-top: 10px;
	border-top-style: dotted;
	margin-bottom: 10px;
	border-bottom-style: dotted;
	padding-top: 10px;
}

.annotation{
	padding: 15;
}
.annotation h3{
	display: inline;
}
.annotation span{
	font-size:0.9em;
	margin-left: 10px;
}

/* @end */


/* @group tag cloud */
.tagCloud{ padding-top: 5px; }
.cloud0 { font-size: 0.6em; }
.cloud1 { font-size: 0.7em; }
.cloud2 { font-size: 0.8em; }
.cloud3 { font-size: 0.9em; }
.cloud4 { font-size: 1.0em; }
.cloud5 { font-size: 1.1em; }
.cloud6 { font-size: 1.2em; }
.cloud7 { font-size: 1.3em; }
.cloud8 { font-size: 1.4em; }
.cloud9 { font-size: 1.5em; }
/* @end */


