
/* PROVIDERTOOL customising simplicity */

table.lefthead td {
	padding-left: 20px;
}
table.lefthead th, td {
	padding-bottom: 5px;
}

.subentry {
	display: block;
	color: #8f0000;
}

.subform {
	margin-left: 50px;
}
div#preview td {
	padding: 5px;
}
div.break {
	clear: both;
	padding-top: 25px;
}

div#header .left {
        float: left;
}

div#header .right {
        padding: 0 39px;
        float: right;
}    
#logo {
	top: 15px;
	position: relative;
}            