/* @override http://localhost:8080/styles/simplicity/providertool.css */

/* PROVIDERTOOL customising simplicity */

/* @group general */

h2 {
	margin-top: 20px;
}

.reminder {
	font-style: italic;
	color: gray;
	background: url(/images/mandatory.gif) no-repeat;
	padding-left: 20px;
}

div.break {
	clear: both;
	padding-top: 25px;
}

.subentry {
	display: block;
	color: #8f0000;
}

.subform {
	margin-left: 50px;
}


form .xlarge{
    width: 650px;
}
form textarea.xlarge{
    height: 20em;
}

table.lefthead td {
	padding-left: 20px;
}
table.lefthead th, table.lefthead td {
	padding-bottom: 5px;
}

table.layout tr td {
	padding-right: 10px;
}
table.layout tr th {
	padding-right: 10px;
}



/* @end */

/* @group header */

#logo {
	top: 15px;
	position: relative;
}

div#header .left {
        float: left;
}

div#header .right {
        padding: 0 39px;
        float: right;
}



/* @end */

/* @group menus */


ul.actionmenu {
	list-style-type: none;
    padding: 0;
}
ul.actionmenu li{
	float: none;
	list-style-type: none;
	display: inline;
	border: 1px solid #c1c6d0;
    padding: 0;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 2px;
}

ul.actionmenu form {
	display: inline;
}
ul.actionmenu .wwFormTable{
	position: absolute;
}

ul.plain {
    list-style: none;
    padding: 0;
}

ul.minimenu{
    list-style: none;
    padding: 0;
}
ul.minimenu li{
	float: right;
	list-style-type: none;
	display: inline;
    margin: 0;
    padding: 0;
	padding-left: 10px;
}


#taxnav, #locnav {
	margin-top: 20px;
	float: left;
}

#sub div label {
	font-variant: normal;
	font-weight: bold;
	font-style: italic;
}
/* @end */


 

/* @group charts */


div.chart, div.map{
	width: 340px;
}
div.stat-table {
	width: 233px;
}

div.stat-table table{
	margin-top: 10px;
	line-height: 0.6em;
	font-size: 0.9 em;
}
div.stat-right{
	position: relative;
	left: 35px;
}
div.chart, div.stats{
	display: block;
	float: left;
	margin-bottom: 20px;
}

div.stats label{
	font-size: 1.2em;
	font-style: italic;
}
div.stats img{
	display: block;
	margin-top: 5px;
}
br.clearfix{
	margin-top: 75px;
	clear: both;
}

div.chart{
	height: 200px;
}
div.chart form {
	float: right;
	bottom: 25px;
	position: relative;
}
.map img{
	border: 1px solid #000;
}

#stats-chart, #stats-menu, #stats-map {
	text-align: center; 
	margin: auto;
}
#stats-map {
	height: 225px; 
}

/* @end */

/* @group other */
 
.right{
	float: right;
	padding-left: 30px;
}

div#preview td {
	padding: 5px;
}



form#saveMappingProperties ul li {
    list-style-type: none;
    margin-left: 0;
	display: inline;
}

div.googlemap {
	float: right;
	padding-top: 5px;
	padding-right:25px
}


.info span{
	display: none;
	color: #555;
	padding: 5px;
}
.info:hover span{ /*the span will display just on :hover state*/
  position: absolute;
  top: 100px;
  right: 50px;
  display: block;
  background: #eee;
  border: 1px solid #555;
  text-align: left
}

/* @end */


