/* @override http://localhost:7001/ipt/styles/main.css */

/* BASIC HTML TAGS */
body {
	background-color: #cccccc;
	margin-bottom: 40px;
    text-align: left;
    font-family: arial, helvetica, verdana, sans-serif;
    font-size: 12px;
    line-height: 1em;
    color: #666666;
	
}

h1 {
	color: #077A2D;
	font-size: 20px;
}
a {
	color: #005418;
}
hr {
	margin-top: 15px;
	margin-bottom: 10px;
	border:1px solid #AFAFAF;
}


/* MAIN LAYOUT PIECES */
div#wrapper {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:950px;
	background-color: #ffffff;
	padding:10px;
	margin-top: 20px;
	margin-bottom: 30px;
	padding-bottom:0px;
	padding-top: 0px;
}

div#topmenu {
	position:relative;
	float: right;
	bottom: -6px;
}
div#topmenu > ul {
	margin:0; 
	padding:0; 
	list-style:none; 
}
div#topmenu > ul > li {
	display:inline; 
	margin:0; 
	float:left; 
	padding: 0px 0 0px 10px; 
}
div#topmenu > ul > li.current a {
	font-weight:bold;
}


#availableLocales{   
	display: none;
	padding: 0;
}
#availableLocales li {
	list-style-type: none;
	margin-top: 5px;
	padding: 0px;
}
#availableLocales li + li {
	margin: 0px;
}
   
div#menu {
	height: 50px;
	background-color: #eeeeee;
}
div#menu ul {
	padding: 0px;
}
div#menu li {
	width: 144px;
    float: left;
    display: inline;
    list-style: none;
    margin-left: 5px;
    padding: 0;
    font-size: 12px;
    line-height: 1em;
    margin-top:8px;
    height: 40px;
    text-align:center;
    font-family: arial, helvetica, verdana, sans-serif;
    background: transparent url(../images/bkgButton_up.gif) no-repeat;
}

div#menu a,
div#menu a:link,
div#menu a:active,
div#menu a:visited {
	background: transparent;
    display: inline-block;
    /* hide from ie/mac \*/
    display: block;
    /* end hide */
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    padding: 5px 15px 5px 15px;
    padding-top: 12px;
	color: #FFF;
	height: 26px;
	width: 114px;
}
div#menu a:hover {
    text-decoration: none;
    width: 114px;
	background: transparent url(../images/bkgButton.gif) no-repeat;
}
div#menu a.current {
    display: inline-block;
    /* hide from ie/mac \*/
    display: block;
    /* end hide */
    color: #FFF;
    font-size: 12px !important;
}
div#menu a.current,
div#menu a.current:link,
div#menu a.current:active,
div#menu a.current:visited,
div#menu a.current:hover {
	background: transparent url(../images/bkgButton.gif) no-repeat; 
}

div#search {
	position: relative; 
	top:-40px; 
	right:0; 
	width:250px; 
	padding:7px; 
	float: right;
}
div#search #search-input {
	width:190px; 
	padding:3px;
	border:1px solid #AFAFAF;
}


div#sidebar {
	position: relative;
	top: -3em;
	width: 170px;
	padding: 0px 5px 20px 5px;
	clear: both;
	float:right;
}
div#sidebar:after{
    /*Having something in the content such as a period 
    gives a more consistent results across browsers.*/
    content: "."; 
    display: block; 
    height: 10px; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
}
div#sidebar > ul {
	margin:0; 
	padding:0; 
	list-style:none; 
}
div#sidebar > ul > li {
	margin:0px; 
	padding: 2px; 
}
div#sidebar > ul > li.current {
	font-weight:bold;
}


div#content { 
	padding: 10px;
}
div#content.fixed { 
	position: relative;
	top: -4em;
	width: 750px;
	float:left;
}
div#content:after{
    /*Having something in the content such as a period 
    gives a more consistent results across browsers.*/
    content: "."; 
    display: block; 
    height: 10px; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
}

div#footer{
	clear: both;
	text-align: center;
	padding: 15px 0px;
	background-color: #E6E6E6;
	margin-left:-10px;
	margin-right:-10px;
}
div#footer ul {
	margin:0; 
	padding:5px; 
	list-style:none; 
}
div#footer li {
	display:inline; 
	margin:0; 
	padding: 0px 10px; 
}



/* other classes */

ul.fielderror{
	list-style:none; 
	color: #d8424f;
	padding: 0px;
	margin: 10px 0px 5px 0px;
}
.errorMessage{
	list-style:none; 
	color: #d8424f;
	padding: 0px;
	margin: 0px;
}
.actionMessage{
	list-style:none; 
	color: #6dd03e;
	padding: 0px;
	margin: 0px;
}

.small{
	font-size: 0.75em;
	color: #888;
}
.clear{
	clear:both;
	padding:0;
	margin:0;
}
.warn{
	color: red;
}
.buttons{
	margin-top: 1em;
}
.buttons input{
	display: inline !important;
}
.horizontal_dotted_line_large_foo {
	border-bottom-color:#666666;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	line-height:1px;
	margin-bottom:0;
	margin-left:-7px;
	margin-top:8px;
	width:700px;
}


div.info{
	display: none;
    position:absolute;
    z-index:9999;  
    max-width:350px;  
    padding:7px; 
    color: black;  
    background-color:#e7f1fa; 
    font-size:12px;  
    border:1px solid #ccc; 
}
div.info ol{
	color: red;
}

div.newline {
	padding-top: 5px;
	clear: both;
}

/* for forms generated with the custom freemarker inlcudes */
.topForm {
	margin: 2em 0em;
}
.topForm label {
	font-size: 12px;
	display: block;
	margin-top: 1em;
}
.topForm input,.topForm textarea {
	margin-left: 0.5em;
	width: 90%;
}
.topForm input[type=submit]{
	margin-left: 0em;
	width: auto;
}
.topForm select{
	margin-left: 0.5em;
	max-width:90%;
	width: auto;
}
.topForm .buttons{
	margin-top: 2em;
}
.topForm img.infoImg{
	position: relative;
	top: 4px;
}
.topForm .2col{
		width: 45%;
}
.topForm .right {
	float: right !important;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
}

form.half{
	width: 50%;
}

div.half{
	clear: both;	
}
div.half:after{
    /*Having something in the content such as a period 
    gives a more consistent results across browsers.*/
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
}
div.half > div{
	width: 49%;
	float: left;
}
div.half input{
	width: 85%;
}
div.half select{
	max-width:90%;
	width: auto;
}


/* simple table */
table.simple th{
	background-color: #fff;
	text-align: left;
	text-decoration: underline;
	padding-bottom: 10px;
}
table.simple tr{
	background-color: #f8f8f8;
}
table.simple tr.linebreak{
	background-color: #fff;
	height: 1em;
}




/* 
	2 column layout used for definitions with first column being the title, second the body for a nested table with more details
	the actions div inside the title is SUPPOSED to stay at the bottom of the title div - but that needs to be FIXED !!! 
*/
div.definition {
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px; 
}

div.definition div.title{
	width: 20%;
	float: left;
    background-color: #f1f1f1;
	padding: 5px 0 5px 5px;
	margin-bottom: -2000px; 
	padding-bottom: 2000px; 
}
div.definition div.head{
	font-weight: bold;
}
div.definition div.actions { 
	margin: 10px 0 0 0;
}
div.definition div.actions form{ 
	margin: 0px;
}
div.definition div.body{ 
	width: 78%;
	float: right;
    font-size: 12px;
	padding: 5px 0px;
	margin-bottom: -2000px; 
	padding-bottom: 2000px; 
}
div.definition div.body > div{ 
    padding-bottom: 10px;
}

// div.definition only ???
div.details{
    padding-bottom: 0px;
}
div.details table{
    margin: 0;
    padding: 0;
}
div.details table th, 
div.details td{
    color: #999;
    font-size: 10px;
    text-align: left;
    background-color: white;
    padding:0px 10px 0px 0px;
}


/* confirmation plugin */
.question {
	position: absolute;
	display: inline;
	text-align: center;
	width: 174px;
	height: 78px;
	font-size: 13px;
	line-height: 1.5em;
	background: url('../images/bubble.png') left top no-repeat;
	padding: 10px 0 0 0;
	text-shadow: 0px 1px 0px #fff;
	margin-left: -7em;
	margin-top: -6em;
	opacity: 0;
}

.yes, .cancel {
	margin-top: .5em;
	margin-right: .5em;
	cursor: pointer;
	display: inline-block;
	width: 63px;
	height: 21px;
	color: #fff;
	text-shadow: 0px 1px 0px #000;
	background: url('../images/button.png') left top no-repeat;
}

#map{
	width: 690px;
    height: 250px;
	border: none;
	margin-top: 18px;
}