*.class
*.iml
target/
.idea/
.DS_Store

# Package Files #
*.jar
*.war
*.ear
.classpath
.project
.settings/org.eclipse.jdt.core.prefs

# Test files #
/admin.log*
/amphibians
/debug.log*
/eml*.xml
/event
/res1
/resource.xml
/rtf*.rtf
