<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
                        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
                        default-lazy-init="true">

    <context:annotation-config/>
    <context:component-scan base-package="org.gbif.provider" /> 
    
    <!-- security interceptors -->
    <bean id="managerInterceptor" class="org.appfuse.webapp.interceptor.UserRoleAuthorizationInterceptor">
        <property name="authorizedRoles" value="ROLE_MANAGER"/>
    </bean>
    

    <!-- external datasource routing/registry -->
    <bean id="datasourceInterceptor" class="org.gbif.provider.datasource.DatasourceInterceptor">
    </bean>
    
    <bean id="datasourceRegistry" class="org.gbif.provider.datasource.DatasourceRegistry" >
        <property name="occResourceManager" ref="occResourceManager"/>
    </bean>
    
    <bean id="externalResourceRoutingDatasource" class="org.gbif.provider.datasource.ExternalResourceRoutingDatasource">
        <property name="targetDataSources">
            <map key-type="java.lang.Long" />            
        </property>
    </bean>
    
    
    <!-- DAOs  -->
    <bean id="abstractDao" abstract="true">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="occResourceDao" class="org.gbif.provider.dao.hibernate.ResourceDaoImpl" parent="abstractDao">
        <constructor-arg value="org.gbif.provider.model.OccurrenceResource"/>
    </bean>
    <bean id="checklistResourceDao" class="org.gbif.provider.dao.hibernate.ResourceDaoImpl" parent="abstractDao">
        <constructor-arg value="org.gbif.provider.model.ChecklistResource"/>
    </bean>
    <bean id="resourceDao" class="org.gbif.provider.dao.hibernate.ResourceDaoImpl" parent="abstractDao">
        <constructor-arg value="org.gbif.provider.model.Resource"/>
    </bean>
    
    <bean id="viewMappingDao" class="org.appfuse.dao.hibernate.GenericDaoHibernate" parent="abstractDao">
        <constructor-arg value="org.gbif.provider.model.ViewMapping"/>
    </bean>

    <bean id="extensionDao" class="org.appfuse.dao.hibernate.GenericDaoHibernate" parent="abstractDao">
        <constructor-arg value="org.gbif.provider.model.Extension"/>
    </bean>

    <bean id="uploadEventDao" class="org.gbif.provider.dao.hibernate.UploadEventDaoImpl" parent="abstractDao"/>
    
    <bean id="darwinCoreDao" class="org.gbif.provider.dao.hibernate.DarwinCoreDaoImpl" parent="abstractDao"/>

    <bean id="jobDao" class="org.gbif.scheduler.dao.hibernate.JobDaoHibernate" parent="abstractDao"/>

    <bean id="logEventDao" class="org.gbif.logging.dao.hibernate.LogEventDaoHibernate" parent="abstractDao"/>
    
    <bean id="datasourceInspectionDao" class="org.gbif.provider.dao.jdbc.DatasourceInspectionDaoImpl">
        <property name="dataSource" ref="externalResourceRoutingDatasource"/>
    </bean>
    
    
    <!--  Managers  -->
    <bean id="occResourceManager" class="org.gbif.provider.service.impl.DatasourceBasedResourceManagerImpl">        
        <constructor-arg ref="occResourceDao"/>
    </bean>
    <bean id="checklistResourceManager" class="org.gbif.provider.service.impl.DatasourceBasedResourceManagerImpl">        
        <constructor-arg ref="checklistResourceDao"/>
    </bean>
    <bean id="resourceManager" class="org.gbif.provider.service.impl.ResourceManagerImpl">        
        <constructor-arg ref="resourceDao"/>
    </bean>

    <bean id="viewMappingManager" class="org.gbif.provider.service.impl.GenericManagerImpl">        
        <constructor-arg ref="viewMappingDao"/>
    </bean>    
    
    <bean id="extensionManager" class="org.gbif.provider.service.impl.GenericManagerImpl">        
        <constructor-arg ref="extensionDao"/>
    </bean>    
    
    <bean id="uploadEventManager" class="org.gbif.provider.service.impl.UploadEventManagerImpl">        
        <constructor-arg ref="uploadEventDao"/>
    </bean>    
    
    <bean id="occurrenceUploadManager" class="org.gbif.provider.service.impl.OccurrenceUploadManagerImpl">
        <property name="darwinCoreDao" ref="darwinCoreDao"/>
    </bean>

    <bean id="jobManager" class="org.gbif.scheduler.service.impl.JobManagerImpl">        
        <constructor-arg ref="jobDao"/>
    </bean>

    <bean id="logEventManager" class="org.gbif.logging.service.impl.LogEventManagerImpl">
        <constructor-arg ref="logEventDao"/>
    </bean>

    <bean id="datasourceInspectionManager" class="org.gbif.provider.service.impl.DatasourceInspectionManagerImpl" />        

    
    <!-- Configure the i18n Log4J appender -->
    <bean id="i18nDatabaseAppender" class="org.gbif.logging.log.I18nDatabaseAppender">
        <property name="logEventDao" ref="logEventDao"/>
    </bean>
    
    
    <!-- SCHEDULER JOBS -->
    <bean id="rdbmsUploadJob" class="org.gbif.provider.job.RdbmsUploadJob">
        <property name="occResourceManager" ref="occResourceManager"/>
        <property name="uploadEventManager" ref="uploadEventManager"/>
        <property name="datasourceInspectionManager" ref="datasourceInspectionManager"/>
        <property name="occurrenceUploadManager" ref="occurrenceUploadManager"/>
    </bean>
    
    <!-- the default transactional advice for Jobs -->
    <tx:advice id="txJobAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="launch" read-only="false" rollback-for="JobException"/>
        </tx:attributes>
    </tx:advice>
    
    <!-- ensure that the above transactional advice runs for any execution
        of an operation defined by the Launchable  interface -->
    <aop:config>
        <aop:pointcut id="launchableOperation" expression="execution(* org.gbif.scheduler.scheduler.Launchable.*(..))"/>
        <aop:advisor advice-ref="txJobAdvice" pointcut-ref="launchableOperation"/>
    </aop:config>
    
</beans>