* { padding:0; margin:0; }

/* NAV */
	
    div#nav {
        position: absolute;
        top: -60px;
        width: 920px;
        text-align: left;       
        font-size: 12px;
        height: 50px;
        vertical-align: baseline;
    }
    * html div#nav {
        /* hide ie/mac \*/
        height: 1%;
        /* end hide */
    }
    div#nav div.wrapper {
		clear: both;
    }
    
	div#navContainer{
		background-color: #ededed;
		width: 920px;
		height: 42px;
		padding-top: 6px;
        vertical-align: baseline;		
	}
	
    div#navContainer ul {
        width: auto;
        margin: 0;
        padding: 0;
        line-height: 1em;
        list-style: none;
    }
    div#navContainer li {
		background: transparent url(../../images/bkgButton_up.gif) no-repeat;
		width: 144px;
        float: left;
        display: inline;
        list-style: none;
        margin-left: 5px;
        padding: 0;
        font-size: 12px;;
        line-height: 1em;
        height: 30px;
    }
    
    .menuList li{
    	height: 30px;
    }
    
    div#nav li.last {
        border-right: none;
    }
    div#nav a,
    div#nav a:link,
    div#nav a:active,
    div#nav a:visited {
    	background: transparent;
        display: inline-block;
        /* hide from ie/mac \*/
        display: block;
        /* end hide */
        font-weight: bold;
        text-decoration: none;
        margin: 0;
        padding: 5px 15px 5px 15px;
        padding-top: 12px;
		color: #FFF;
		height: 26px;
		width: 114px;
    }
    div#nav a:hover {
        text-decoration: none;
        width: 114px;
 		background: transparent url(../../images/bkgButton.gif) no-repeat;
    }
    div#nav a.current {
        display: inline-block;
        /* hide from ie/mac \*/
        display: block;
        /* end hide */
        color: #FFF;
        font-size: 12px !important;
    }
    div#nav a.current,
    div#nav a.current:link,
    div#nav a.current:active,
    div#nav a.current:visited,
    div#nav a.current:hover {
/*        background-color: #019f2e; */
 		background: transparent url(../../images/bkgButton.gif) no-repeat; 
    }

    div#nav .pad {
       padding-left: 10px;
    }
/* END NAV */

/* DROP DOWN MENUS */
    ul#primary-nav, ul#primary-nav ul {
        margin: 0;
        padding: 0;
        background: #fff; /* IE6 Bug */
        font-size: 100%;
    }
        ul#primary-nav li {
            position: relative;
            list-style: none;
            height: 40px;

        }
            ul#primary-nav li a {
                display: block;
                text-decoration: none;
                color: #777;
                width: 90px;
                text-align: center;
                white-space: nowrap;
            }
        /* Fix IE. Hide from IE Mac \*/
        * html ul#primary-nav li { 
        	float: left; 
        	height: 1%;
        	padding-left: 0px;
        	padding-right: 0px;        	
        }
        * html ul#primary-nav li a { 
        	height: 1%; 
        	background-image: none; 
        	background-color: #03b034;
        	padding-left: 0px;
        	padding-right: 0px;
        }
        * html ul#primary-nav li.menubar ul li a:hover { 
            background-image: none; 
            background-color: #03b034;
        }
		* html ul#primary-nav ul { 
			width: 144px; 
			background-image: none; 
			background-color: #03b034;
			
		}
        * html ul#primary-nav ul li { 
        	width: 144px; 
        	background-image: none; 
        	background-color: #03b034;        	        	
        }     
        /* End */

            ul#primary-nav ul {
                position: absolute;
                display: none;
                left: 0px; /* Set 1px less than menu width */
                top: 33px;
            }
                ul#primary-nav ul li {
                    border: 1px solid #03b034;
                    background-color: #03b034;
                    border-bottom: 0;
                    font-size: 1em;
                    height: 30px;
                    width: 107px;
                }
                    ul#primary-nav ul li ul {
                        margin-top: -23px;
	                    background-color: #03b034;                        
		                text-indent: 0px;	                    
                    }
                    ul#primary-nav ul li.last {
	                    background-color: #03b034;                          
                    }
                    ul#primary-nav li.menubar ul li{
                    	background-image: none;
                    	padding-left: 0px;
                    	padding-right: 0px;
                    	margin-left: 0px;
                    	margin-right: 0px; 
                        width: 140px;
                    }
                    ul#primary-nav li ul li a {padding-bottom: 5px;} /* Sub Menu Styles */
                    ul#primary-nav li:hover ul ul,
                    ul#primary-nav li:hover ul ul ul,
                    ul#primary-nav li.over ul ul,
                    ul#primary-nav li.over ul ul ul { display: none; } /* Hide sub-menus initially */
                    ul#primary-nav li:hover ul,
                    ul#primary-nav li li:hover ul,
                    ul#primary-nav li li li:hover ul,
                    ul#primary-nav li.over ul,
                    ul#primary-nav li li.over ul,
                    ul#primary-nav li li li.over ul {
                    	background-color: #03b034; 
                    	display: block; 
						width: 142px;
						font-size: 12px;
                    	padding-left: 0px;
                    	padding-right: 0px;
                    	margin-left: 0px;
                    	margin-right: 0px;
                    } /* The magic */
                    ul#primary-nav li.menubar { 
                    	background: transparent url(../../images/bkgButton_up.gif) no-repeat; 
                    }
                    ul#primary-nav li:hover,
                    ul#primary-nav li.over { 
                    	background: transparent url(../../images/bkgButton.gif) no-repeat; 
						width: 144px;
						font-size: 12px;
                    	padding-left: 0px;
                    	padding-right: 0px;
                    	margin-left: 5px;
                    	margin-right: 0px;
                    }
                    
                    ul#primary-nav li.menubar ul li a,
                    ul#primary-nav li.menubar ul li a:active,
                    ul#primary-nav li.menubar ul li a:visited{
                    	background-image: none;
                        background-color: #03b034;
                        color: #FFFFFF;
						text-align: center;
						width: 142px;
						font-size: 12px;
                    	padding-left: 0px;
                    	padding-right: 0px;
                    	margin-left: 0px;
                    	margin-right: 0px;
                    }
                    ul#primary-nav li.menubar ul li a:hover{
                        color: #555555;
						text-align: center;                        
                    }

/* END DROP DOWN MENUS */
