
/* A CSS Framework by Mike Stenhouse of Content with Style

     Color pallete:
             #444        - dark gray (text)
             #3e9ade - medium blue (title)
             #b4c24b - lime (header 1)
             #ebf5fc - light cyan (hover text, footer)
             #d7e9f5    - medium cyan (tab)
             #1465b7 - dark blue (tab text, hyperlink)
             #ccc         - medium gray (line)
             #f7f7f7 - light gray (form background)
             #f90        - orange (required *)
             
     Good
     		 #666666   - grey(text)
     		 #444444   - dark grey (headers)
*/

/* TYPOGRAPHY */
    body {
        text-align: left;
        font-family: arial, helvetica, verdana, sans-serif;
        font-size: 13px;
        line-height: 1em;
        color: #666666;
    }

    div {
        font-size: 1em;
    }

    img {
        border: 0;
    }

    /* LINKS */
        a,a:link
            a:active {
            color: #007d24;
            text-decoration: none;
        }

        a:visited {
            color: #007d24;
            background-color: transparent;
        }

        a:hover {
            color: #005418;
            text-decoration: none;
        }
    /* END LINKS */

    /* HEADINGS */
        h1, h2, h3, h4, h5, h6 {
            font-family: arial, helvetica, verdana, sans-serif;
            font-weight: normal;
        }

        h1 {
            font-size: 28px;
            letter-spacing: -1px;
            line-height: 1.3em;
            margin: 0 0 0.5em 0;
            padding: 0;
            color: #444444;
        }

        div#branding h1 {
            font-size: 2.6em;
            letter-spacing: -1px;

            margin: 0;
            line-height: 1.5em;
            color: #3e9ade;
        }

        div#branding p {
            margin: 0;
            line-height: 1em;
        }

        h2 {
            font-size: 1.4em;
            line-height: 1.5em;
            margin: 0 0 0.5em 0;
            padding: 0;
        }

        h3 {
            font-size: 24px;
            line-height: 1.3em;
            margin: 0 0 0.5em 0;
            padding: 0;
            color: #444444;
        }

        h4 {
            font-size: 1.2em;
            line-height: 1.3em;
            margin: 0 0 0.25em 0;
            padding: 0;
            color: black;
        }

        h5 {
            font-size: 1.1em;
            line-height: 1.3em;
            margin: 0 0 0.25em 0;
            padding: 0;
            color: black;
        }

        h6 {
            font-size: 1em;
            line-height: 1.3em;
            margin: 0 0 0.25em 0;
            padding: 0;
            color: black;
        }
    /* END HEADINGS */

    /* TEXT */
        p {
            font-size: 1em;
            margin: 0 0 1.5em 0;
            padding: 0;
            line-height: 1.4em;
        }

        blockquote {
            border-left: 10px solid #ddd;
            margin-left: 10px;
        }

        pre {
            font-family: monospace;
            font-size: 12px;
        }

        strong,b {
            font-weight: bold;
        }

        em,i {
            font-style: italic;
        }

        code {
            font-family: "courier new", courier, monospace;
            font-size: 12px;
            white-space: pre;
        }
    /* END TEXT */

    /* LISTS */
        ul.glassList {
            list-style: url(../../images/aquadot.jpg) disc outside;
            vertical-align: top;
            line-height: 1.5em;
        }
        dl {
            margin: 0 0 1.5em 0;
            padding: 0;
            line-height: 1.4em;
        }

        dl dt {
            font-weight: bold;
            margin: 0.25em 0 0.25em 0;
            padding: 0;
        }

        dl dd {
            margin: 0 0 0 30px;
            padding: 0;
        }
        
        ol li{
        	line-height: 20px;
        }

    /* END LISTS */


    hr {
        display: none;
    }

    div.hr {
        height: 1px;
        margin: 1.5em 10px;
        border-bottom: 1px dotted black;
    }
/* END TYPOGRAPHY */