<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="org.appfuse.model.User"/>
        <mapping class="org.appfuse.model.Role"/>
        <mapping class="org.gbif.provider.model.ChecklistResource"/>
        <mapping class="org.gbif.provider.model.CoreRecord"/>
        <mapping class="org.gbif.provider.model.CoreViewMapping"/>
        <mapping class="org.gbif.provider.model.DarwinCore"/>
        <mapping class="org.gbif.provider.model.DarwinCoreLocation"/>
        <mapping class="org.gbif.provider.model.DarwinCoreTaxonomy"/>
        <mapping class="org.gbif.provider.model.DatasourceBasedResource"/>
        <mapping class="org.gbif.provider.model.Extension"/>
        <mapping class="org.gbif.provider.model.ExtensionProperty"/>
        <mapping class="org.gbif.provider.model.OccurrenceResource"/>
        <mapping class="org.gbif.provider.model.PropertyMapping"/>
        <mapping class="org.gbif.provider.model.Resource"/>
        <mapping class="org.gbif.provider.model.UploadEvent"/>
        <mapping class="org.gbif.provider.model.ViewMapping"/>
    </session-factory>
</hibernate-configuration>