<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
				http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
				http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<util:map id="isoLanguageI18nCodeMap">
		<entry key="ab" value="Abkhazian"/>
		<entry key="aa" value="Afar"/>
		<entry key="af" value="Afrikaans"/>
		<entry key="ak" value="Akan"/>
		<entry key="sq" value="Albanian"/>
		<entry key="am" value="Amharic"/>
		<entry key="ar" value="Arabic"/>
		<entry key="an" value="Aragonese"/>
		<entry key="hy" value="Armenian"/>
		<entry key="as" value="Assamese"/>
		<entry key="av" value="Avaric"/>
		<entry key="ae" value="Avestan"/>
		<entry key="ay" value="Aymara"/>
		<entry key="az" value="Azerbaijani"/>
		<entry key="bm" value="Bambara"/>
		<entry key="ba" value="Bashkir"/>
		<entry key="eu" value="Basque"/>
		<entry key="be" value="Belarusian"/>
		<entry key="bn" value="Bengali"/>
		<entry key="bh" value="Bihari"/>
		<entry key="bi" value="Bislama"/>
		<entry key="bs" value="Bosnian"/>
		<entry key="br" value="Breton"/>
		<entry key="bg" value="Bulgarian"/>
		<entry key="my" value="Burmese"/>
		<entry key="ca" value="Catalan"/>
		<entry key="km" value="Central Khmer"/>
		<entry key="ch" value="Chamorro"/>
		<entry key="ce" value="Chechen"/>
		<entry key="ny" value="Chichewa"/>
		<entry key="zh" value="Chinese"/>
		<entry key="cv" value="Chuvash"/>
		<entry key="kw" value="Cornish"/>
		<entry key="co" value="Corsican"/>
		<entry key="cr" value="Cree"/>
		<entry key="hr" value="Croatian"/>
		<entry key="cs" value="Czech"/>
		<entry key="da" value="Danish"/>
		<entry key="dv" value="Divehi"/>
		<entry key="nl" value="Dutch; Flemish"/>
		<entry key="dz" value="Dzongkha"/>
		<entry key="en" value="English"/>
		<entry key="eo" value="Esperanto"/>
		<entry key="et" value="Estonian"/>
		<entry key="ee" value="Ewe"/>
		<entry key="fo" value="Faroese"/>
		<entry key="fj" value="Fijian"/>
		<entry key="fi" value="Finnish"/>
		<entry key="fr" value="French"/>
		<entry key="ff" value="Fulah"/>
		<entry key="gd" value="Gaelic"/>
		<entry key="gl" value="Galician"/>
		<entry key="lg" value="Ganda"/>
		<entry key="ka" value="Georgian"/>
		<entry key="de" value="German"/>
		<entry key="el" value="Greek, Modern"/>
		<entry key="kl" value="Greenlandic"/>
		<entry key="gn" value="Guarani"/>
		<entry key="gu" value="Gujarati"/>
		<entry key="ht" value="Haitian"/>
		<entry key="ha" value="Hausa"/>
		<entry key="he" value="Hebrew"/>
		<entry key="hz" value="Herero"/>
		<entry key="hi" value="Hindi"/>
		<entry key="ho" value="Hiri Motu"/>
		<entry key="hu" value="Hungarian"/>
		<entry key="is" value="Icelandic"/>
		<entry key="io" value="Ido"/>
		<entry key="ig" value="Igbo"/>
		<entry key="id" value="Indonesian"/>
		<entry key="ia" value="Interlingua"/>
		<entry key="ie" value="Interlingue"/>
		<entry key="iu" value="Inuktitut"/>
		<entry key="ik" value="Inupiaq"/>
		<entry key="ga" value="Irish"/>
		<entry key="it" value="Italian"/>
		<entry key="ja" value="Japanese"/>
		<entry key="jv" value="Javanese"/>
		<entry key="kn" value="Kannada"/>
		<entry key="kr" value="Kanuri"/>
		<entry key="ks" value="Kashmiri"/>
		<entry key="kk" value="Kazakh"/>
		<entry key="ki" value="Kikuyu; Gikuyu"/>
		<entry key="rw" value="Kinyarwanda"/>
		<entry key="ky" value="Kirghiz"/>
		<entry key="kv" value="Komi"/>
		<entry key="kg" value="Kongo"/>
		<entry key="ko" value="Korean"/>
		<entry key="kj" value="Kuanyama"/>
		<entry key="ku" value="Kurdish"/>
		<entry key="lo" value="Lao"/>
		<entry key="la" value="Latin"/>
		<entry key="lv" value="Latvian"/>
		<entry key="li" value="Limburgan"/>
		<entry key="ln" value="Lingala"/>
		<entry key="lt" value="Lithuanian"/>
		<entry key="lu" value="Luba-Katanga"/>
		<entry key="lb" value="Luxembourgish"/>
		<entry key="mk" value="Macedonian"/>
		<entry key="mg" value="Malagasy"/>
		<entry key="ms" value="Malay"/>
		<entry key="ml" value="Malayalam"/>
		<entry key="mt" value="Maltese"/>
		<entry key="gv" value="Manx"/>
		<entry key="mi" value="Maori"/>
		<entry key="mr" value="Marathi"/>
		<entry key="mh" value="Marshallese"/>
		<entry key="mo" value="Moldavian"/>
		<entry key="mn" value="Mongolian"/>
		<entry key="na" value="Nauru"/>
		<entry key="nv" value="Navajo"/>
		<entry key="nr" value="Ndebele"/>
		<entry key="nd" value="Ndebele, North"/>
		<entry key="ng" value="Ndonga"/>
		<entry key="ne" value="Nepali"/>
		<entry key="se" value="Northern Sami"/>
		<entry key="nb" value="Norwegian Bokmål"/>
		<entry key="no" value="Norwegian"/>
		<entry key="nn" value="Norwegian Nynorsk"/>
		<entry key="oc" value="Occitan"/>
		<entry key="oj" value="Ojibwa"/>
		<entry key="cu" value="Old Slavonic"/>
		<entry key="or" value="Oriya"/>
		<entry key="om" value="Oromo"/>
		<entry key="os" value="Ossetian"/>
		<entry key="pi" value="Pali"/>
		<entry key="pa" value="Panjabi"/>
		<entry key="fa" value="Persian"/>
		<entry key="pl" value="Polish"/>
		<entry key="pt" value="Portuguese"/>
		<entry key="ps" value="Pushto"/>
		<entry key="qu" value="Quechua"/>
		<entry key="ro" value="Romanian"/>
		<entry key="rm" value="Romansh"/>
		<entry key="rn" value="Rundi"/>
		<entry key="ru" value="Russian"/>
		<entry key="sm" value="Samoan"/>
		<entry key="sg" value="Sango"/>
		<entry key="sa" value="Sanskrit"/>
		<entry key="sc" value="Sardinian"/>
		<entry key="sr" value="Serbian"/>
		<entry key="sn" value="Shona"/>
		<entry key="ii" value="Sichuan Yi"/>
		<entry key="sd" value="Sindhi"/>
		<entry key="si" value="Sinhala"/>
		<entry key="sk" value="Slovak"/>
		<entry key="sl" value="Slovenian"/>
		<entry key="so" value="Somali"/>
		<entry key="st" value="Sotho, Southern"/>
		<entry key="es" value="Spanish"/>
		<entry key="su" value="Sundanese"/>
		<entry key="sw" value="Swahili"/>
		<entry key="ss" value="Swati"/>
		<entry key="sv" value="Swedish"/>
		<entry key="tl" value="Tagalog"/>
		<entry key="ty" value="Tahitian"/>
		<entry key="tg" value="Tajik"/>
		<entry key="ta" value="Tamil"/>
		<entry key="tt" value="Tatar"/>
		<entry key="te" value="Telugu"/>
		<entry key="th" value="Thai"/>
		<entry key="bo" value="Tibetan"/>
		<entry key="ti" value="Tigrinya"/>
		<entry key="to" value="Tonga"/>
		<entry key="ts" value="Tsonga"/>
		<entry key="tn" value="Tswana"/>
		<entry key="tr" value="Turkish"/>
		<entry key="tk" value="Turkmen"/>
		<entry key="tw" value="Twi"/>
		<entry key="ug" value="Uighur"/>
		<entry key="uk" value="Ukrainian"/>
		<entry key="ur" value="Urdu"/>
		<entry key="uz" value="Uzbek"/>
		<entry key="ve" value="Venda"/>
		<entry key="vi" value="Vietnamese"/>
		<entry key="vo" value="Volapük"/>
		<entry key="wa" value="Walloon"/>
		<entry key="cy" value="Welsh"/>
		<entry key="fy" value="Western Frisian"/>
		<entry key="wo" value="Wolof"/>
		<entry key="xh" value="Xhosa"/>
		<entry key="yi" value="Yiddish"/>
		<entry key="yo" value="Yoruba"/>
		<entry key="za" value="Zhuang"/>
		<entry key="zu" value="Zulu"/>	
	</util:map>
	
	<!--ISO country codes to country i18n key -->	
	<util:map id="isoCountryI18nCodeMap">
		<entry key="AF" value="country.AF"/>
		<!--entry key="AX" value="country.AX"/-->
		<entry key="AL" value="country.AL"/>
		<entry key="DZ" value="country.DZ"/>
		<entry key="AS" value="country.AS"/>
		<entry key="AD" value="country.AD"/>
		<entry key="AO" value="country.AO"/>
		<entry key="AI" value="country.AI"/>
		<entry key="AQ" value="country.AQ"/>
		<entry key="AG" value="country.AG"/>
		<entry key="AR" value="country.AR"/>
		<entry key="AM" value="country.AM"/>
		<entry key="AW" value="country.AW"/>
		<entry key="AU" value="country.AU"/>
		<entry key="AT" value="country.AT"/>
		<entry key="AZ" value="country.AZ"/>
		<entry key="BS" value="country.BS"/>
		<entry key="BH" value="country.BH"/>
		<entry key="BD" value="country.BD"/>
		<entry key="BB" value="country.BB"/>
		<entry key="BY" value="country.BY"/>
		<entry key="BE" value="country.BE"/>
		<entry key="BZ" value="country.BZ"/>
		<entry key="BJ" value="country.BJ"/>
		<entry key="BM" value="country.BM"/>
		<entry key="BT" value="country.BT"/>
		<entry key="BO" value="country.BO"/>
		<entry key="BA" value="country.BA"/>
		<entry key="BW" value="country.BW"/>
		<entry key="BV" value="country.BV"/>
		<entry key="BR" value="country.BR"/>
		<entry key="IO" value="country.IO"/>
		<entry key="BN" value="country.BN"/>
		<entry key="BG" value="country.BG"/>
		<entry key="BF" value="country.BF"/>
		<entry key="BI" value="country.BI"/>
		<entry key="KH" value="country.KH"/>
		<entry key="CM" value="country.CM"/>
		<entry key="CA" value="country.CA"/>
		<entry key="CV" value="country.CV"/>
		<entry key="KY" value="country.KY"/>
		<entry key="CF" value="country.CF"/>
		<entry key="TD" value="country.TD"/>
		<entry key="CL" value="country.CL"/>
		<entry key="CN" value="country.CN"/>
		<entry key="TW" value="country.TW"/>		
		<entry key="CX" value="country.CX"/>
		<entry key="CC" value="country.CC"/>
		<entry key="CO" value="country.CO"/>
		<entry key="KM" value="country.KM"/>
		<entry key="CG" value="country.CG"/>
		<entry key="CD" value="country.CD"/>
		<entry key="CK" value="country.CK"/>
		<entry key="CR" value="country.CR"/>
		<entry key="CI" value="country.CI"/>
		<entry key="HR" value="country.HR"/>
		<entry key="CU" value="country.CU"/>
		<entry key="CY" value="country.CY"/>
		<entry key="CZ" value="country.CZ"/>
		<entry key="DK" value="country.DK"/>
		<entry key="DJ" value="country.DJ"/>
		<entry key="DM" value="country.DM"/>
		<entry key="DO" value="country.DO"/>
		<entry key="EC" value="country.EC"/>
		<entry key="EG" value="country.EG"/>
		<entry key="SV" value="country.SV"/>
		<entry key="GQ" value="country.GQ"/>
		<entry key="ER" value="country.ER"/>
		<entry key="EE" value="country.EE"/>
		<entry key="ET" value="country.ET"/>
		<entry key="FK" value="country.FK"/>
		<entry key="FO" value="country.FO"/>
		<entry key="FJ" value="country.FJ"/>
		<entry key="FI" value="country.FI"/>
		<entry key="FR" value="country.FR"/>
		<entry key="GF" value="country.GF"/>
		<entry key="PF" value="country.PF"/>
		<entry key="TF" value="country.TF"/>
		<entry key="GA" value="country.GA"/>
		<entry key="GM" value="country.GM"/>
		<entry key="GE" value="country.GE"/>
		<entry key="DE" value="country.DE"/>
		<entry key="GH" value="country.GH"/>
		<entry key="GI" value="country.GI"/>
		<entry key="GR" value="country.GR"/>
		<entry key="GL" value="country.GL"/>
		<entry key="GD" value="country.GD"/>
		<entry key="GP" value="country.GP"/>
		<entry key="GU" value="country.GU"/>
		<entry key="GT" value="country.GT"/>
		<entry key="GG" value="country.GG"/>
		<entry key="GN" value="country.GN"/>
		<entry key="GW" value="country.GW"/>
		<entry key="GY" value="country.GY"/>
		<entry key="HT" value="country.HT"/>
		<entry key="HM" value="country.HM"/>
		<entry key="VA" value="country.VA"/>
		<entry key="HN" value="country.HN"/>
		<entry key="HK" value="country.HK"/>
		<entry key="HU" value="country.HU"/>
		<entry key="IS" value="country.IS"/>
		<entry key="IN" value="country.IN"/>
		<entry key="ID" value="country.ID"/>
		<entry key="IR" value="country.IR"/>
		<entry key="IQ" value="country.IQ"/>
		<entry key="IE" value="country.IE"/>
		<entry key="IM" value="country.IM"/>
		<entry key="IL" value="country.IL"/>
		<entry key="IT" value="country.IT"/>
		<entry key="JM" value="country.JM"/>
		<entry key="JP" value="country.JP"/>
		<entry key="JE" value="country.JE"/>
		<entry key="JO" value="country.JO"/>
		<entry key="KZ" value="country.KZ"/>
		<entry key="KE" value="country.KE"/>
		<entry key="KI" value="country.KI"/>
		<entry key="KP" value="country.KP"/>
		<entry key="KR" value="country.KR"/>
		<entry key="KW" value="country.KW"/>
		<entry key="KG" value="country.KG"/>
		<entry key="LA" value="country.LA"/>
		<entry key="LV" value="country.LV"/>
		<entry key="LB" value="country.LB"/>
		<entry key="LS" value="country.LS"/>
		<entry key="LR" value="country.LR"/>
		<entry key="LY" value="country.LY"/>
		<entry key="LI" value="country.LI"/>
		<entry key="LT" value="country.LT"/>
		<entry key="LU" value="country.LU"/>
		<entry key="MO" value="country.MO"/>
		<entry key="MK" value="country.MK"/>
		<entry key="MG" value="country.MG"/>
		<entry key="MW" value="country.MW"/>
		<entry key="MY" value="country.MY"/>
		<entry key="MV" value="country.MV"/>
		<entry key="ML" value="country.ML"/>
		<entry key="MT" value="country.MT"/>
		<entry key="MH" value="country.MH"/>
		<entry key="MQ" value="country.MQ"/>
		<entry key="MR" value="country.MR"/>
		<entry key="MU" value="country.MU"/>
		<entry key="YT" value="country.YT"/>
		<entry key="MX" value="country.MX"/>
		<entry key="FM" value="country.FM"/>
		<entry key="MD" value="country.MD"/>
		<entry key="MC" value="country.MC"/>
		<entry key="MN" value="country.MN"/>
		<entry key="ME" value="country.ME"/>
		<entry key="MS" value="country.MS"/>
		<entry key="MA" value="country.MA"/>
		<entry key="MZ" value="country.MZ"/>
		<entry key="MM" value="country.MM"/>
		<entry key="NA" value="country.NA"/>
		<entry key="NR" value="country.NR"/>
		<entry key="NP" value="country.NP"/>
		<entry key="NL" value="country.NL"/>
		<entry key="AN" value="country.AN"/>
		<entry key="NC" value="country.NC"/>
		<entry key="NZ" value="country.NZ"/>
		<entry key="NI" value="country.NI"/>
		<entry key="NE" value="country.NE"/>
		<entry key="NG" value="country.NG"/>
		<entry key="NU" value="country.NU"/>
		<entry key="NF" value="country.NF"/>
		<entry key="MP" value="country.MP"/>
		<entry key="NO" value="country.NO"/>
		<entry key="OM" value="country.OM"/>
		<entry key="PK" value="country.PK"/>
		<entry key="PW" value="country.PW"/>
		<entry key="PS" value="country.PS"/>
		<entry key="PA" value="country.PA"/>
		<entry key="PG" value="country.PG"/>
		<entry key="PY" value="country.PY"/>
		<entry key="PE" value="country.PE"/>
		<entry key="PH" value="country.PH"/>
		<entry key="PN" value="country.PN"/>
		<entry key="PL" value="country.PL"/>
		<entry key="PT" value="country.PT"/>
		<entry key="PR" value="country.PR"/>
		<entry key="QA" value="country.QA"/>
		<entry key="RE" value="country.RE"/>
		<entry key="RO" value="country.RO"/>
		<entry key="RU" value="country.RU"/>
		<entry key="RW" value="country.RW"/>
		<entry key="SH" value="country.SH"/>
		<entry key="KN" value="country.KN"/>
		<entry key="LC" value="country.LC"/>
		<entry key="PM" value="country.PM"/>
		<entry key="VC" value="country.VC"/>
		<entry key="WS" value="country.WS"/>
		<entry key="SM" value="country.SM"/>
		<entry key="ST" value="country.ST"/>
		<entry key="SA" value="country.SA"/>
		<entry key="SN" value="country.SN"/>
		<entry key="RS" value="country.RS"/>
		<entry key="SC" value="country.SC"/>
		<entry key="SL" value="country.SL"/>
		<entry key="SG" value="country.SG"/>
		<entry key="SK" value="country.SK"/>
		<entry key="SI" value="country.SI"/>
		<entry key="SB" value="country.SB"/>
		<entry key="SO" value="country.SO"/>
		<entry key="ZA" value="country.ZA"/>
		<entry key="GS" value="country.GS"/>
		<entry key="ES" value="country.ES"/>
		<entry key="LK" value="country.LK"/>
		<entry key="SD" value="country.SD"/>
		<entry key="SR" value="country.SR"/>
		<entry key="SJ" value="country.SJ"/>
		<entry key="SZ" value="country.SZ"/>
		<entry key="SE" value="country.SE"/>
		<entry key="CH" value="country.CH"/>
		<entry key="SY" value="country.SY"/>
		<entry key="TJ" value="country.TJ"/>
		<entry key="TZ" value="country.TZ"/>
		<entry key="TH" value="country.TH"/>
		<entry key="TL" value="country.TL"/>
		<entry key="TG" value="country.TG"/>
		<entry key="TK" value="country.TK"/>
		<entry key="TO" value="country.TO"/>
		<entry key="TT" value="country.TT"/>
		<entry key="TN" value="country.TN"/>
		<entry key="TR" value="country.TR"/>
		<entry key="TM" value="country.TM"/>
		<entry key="TC" value="country.TC"/>
		<entry key="TV" value="country.TV"/>
		<entry key="UG" value="country.UG"/>
		<entry key="UA" value="country.UA"/>
		<entry key="AE" value="country.AE"/>
		<entry key="GB" value="country.GB"/>
		<entry key="US" value="country.US"/>
		<entry key="UM" value="country.UM"/>
		<entry key="UY" value="country.UY"/>
		<entry key="UZ" value="country.UZ"/>
		<entry key="VU" value="country.VU"/>
		<entry key="VE" value="country.VE"/>
		<entry key="VN" value="country.VN"/>
		<entry key="VG" value="country.VG"/>
		<entry key="VI" value="country.VI"/>
		<entry key="WF" value="country.WF"/>
		<entry key="EH" value="country.EH"/>
		<entry key="YE" value="country.YE"/>
		<entry key="ZM" value="country.ZM"/>
		<entry key="ZW" value="country.ZW"/>		
	</util:map>

	<!--Continent code to continent i18n key -->	
	<util:map id="continent-codes">
		<entry key="AF" value="continent.AF"/>
		<entry key="AS" value="continent.AS"/>
		<entry key="EU" value="continent.EU"/>
		<entry key="NA" value="continent.NA"/>
		<entry key="OC" value="continent.OC"/>
		<entry key="SA" value="continent.SA"/>
	</util:map>

	<!-- The UN region codes -->
	<util:map id="region-codes">
		<entry key="EAF" value="region.EAF"/>
		<entry key="MAF" value="region.MAF"/>
		<entry key="NAF" value="region.NAF"/>
		<entry key="SAF" value="region.SAF"/>
		<entry key="WAF" value="region.WAF"/>
		<entry key="CAR" value="region.CAR"/>
		<entry key="CAM" value="region.CAM"/>
		<entry key="SAM" value="region.SAM"/>
		<entry key="NAM" value="region.NAM"/>
		<entry key="CAS" value="region.CAS"/>
		<entry key="EAS" value="region.EAS"/>
		<entry key="SAS" value="region.SAS"/>
		<entry key="SEA" value="region.SEA"/>
		<entry key="WAS" value="region.WAS"/>
		<entry key="EEU" value="region.EEU"/>
		<entry key="NEU" value="region.NEU"/>
		<entry key="SEU" value="region.SEU"/>
		<entry key="WEU" value="region.WEU"/>
		<entry key="ANZ" value="region.ANZ"/>
		<entry key="MEL" value="region.MEL"/>
		<entry key="MIC" value="region.MIC"/>
		<entry key="POL" value="region.POL"/>
		<entry key="ANT" value="region.ANT"/>	
	</util:map>
	
	<util:map id="majorTaxonRanks">
		<entry key="kingdom" value="taxonrank.kingdom"/>
		<entry key="phylum" value="taxonrank.phylum"/>
		<entry key="class" value="taxonrank.class"/>
		<entry key="order" value="taxonrank.order"/>
		<entry key="family" value="taxonrank.family"/>
		<entry key="genus" value="taxonrank.genus"/>
		<entry key="species" value="taxonrank.species"/>
		<entry key="subspecies" value="taxonrank.subspecies"/>
	</util:map>	
	
	<util:map id="otherTaxonRanks">
		<entry key="suborder" value="taxonrank.suborder"/>
		<entry key="infraorder" value="taxonrank.infraorder"/>
		<entry key="superfamily" value="taxonrank.superfamily"/>
		<entry key="subfamily" value="taxonrank.subfamily"/>
		<entry key="tribe" value="taxonrank.tribe"/>
		<entry key="subtribe" value="taxonrank.subtribe"/>
		<entry key="nothogenus" value="taxonrank.nothogenus"/>
		<entry key="subgenus" value="taxonrank.subgenus"/>
		<entry key="section" value="taxonrank.section"/>
		<entry key="subsection" value="taxonrank.subsection"/>
		<entry key="series" value="taxonrank.series"/>
		<entry key="subseries" value="taxonrank.subseries"/>
		<entry key="nothospecies" value="taxonrank.nothospecies"/>
		<entry key="subspecies" value="taxonrank.subspecies"/>
		<entry key="nothosubspecies" value="taxonrank.nothosubspecies"/>
		<entry key="variety" value="taxonrank.variety"/>
		<entry key="nothovariety" value="taxonrank.nothovariety"/>
		<entry key="form" value="taxonrank.form"/>
		<entry key="nothoform" value="taxonrank.nothoform"/>
		<entry key="biovar" value="taxonrank.biovar"/>
		<entry key="serovar" value="taxonrank.serovar"/>
		<entry key="cultivar" value="taxonrank.cultivar"/>
		<entry key="pathovar" value="taxonrank.pathovar"/>
		<entry key="infraspecific" value="taxonrank.infraspecific"/>
		<entry key="aberration" value="taxonrank.aberration"/>
		<entry key="mutation" value="taxonrank.mutation"/>
		<entry key="race" value="taxonrank.race"/>
		<entry key="confersubspecies" value="taxonrank.confersubspecies"/>
		<entry key="formaspecialis" value="taxonrank.formaspecialis"/>
		<entry key="hybrid" value="taxonrank.hybrid"/>
	</util:map>
	
	<util:map id="checklistResourceTypes">
		<entry key="checklist" value="resourceType.tax.checklist"/>
		<entry key="nomenclatural" value="resourceType.tax.nomenclatural"/>
		<entry key="revision" value="resourceType.tax.revision"/>
		<entry key="derived" value="resourceType.tax.derived"/>
	</util:map>	
	<util:map id="occurrenceResourceTypes">
		<entry key="observations" value="resourceType.occ.observations"/>
		<entry key="specimen" value="resourceType.occ.specimen"/>
		<entry key="monitoring" value="resourceType.occ.monitoring"/>
	</util:map>	
	
</beans>