* { padding:0; margin:0; }

/* SITE SPECIFIC LAYOUT */
    body {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        background: #cccccc;
        text-align: center;
    }

    div#page {
        width: 940px;
        margin: 0 auto;
        padding-top: 15px;
        text-align: center;
        background-color: #FFF;
    }

    
    /* HEADER */
        div#header {
            text-align: left;
            height: 100px; /* needed by IE 7 */
            width: 930px;
            padding-left: 0px;
            padding-bottom: 0px;
            vertical-align: bottom;
        }
      	div#logo{
      		float: left;
      		width: 510px;
      		margin: 0px;
      	}
      	div#logo img{
	      	border-style: none;
      		margin-left: 10px;
      	}      	
		div#switchLocale{
			width: 930px;
			height: 25px;
			text-align: right;
		}
        div#branding {
            float: right;
            width: 500px;
            margin: auto;
            text-align: right;
			vertical-align: bottom;
			padding-top: 35px;
        }
        div#branding img{
        	vertical-align: bottom;
        }
        div#search {
            float: right;
            width: 49%;
            margin: 0;
            padding: 10px 15px 0 0;
            text-align: right;
        }
    /* END HEADER */
    
    /* CONTENT */
	    div#content {
	        position: relative;
	        width: 920px;
			padding-left: 10px;
			padding-right: 10px;
	        text-align: left;
	    }
            body#error #content {
                margin-top: 20px;
            }
        /* MAIN */
            div#main {
                padding-left: 15px;
                padding-top: 18px;
                padding-right: 15px;
                background-color: #FFF;
				margin-bottom: 15px;                
                margin-top: -15px;
                margin-left: -3px;
            }
            div#main form ul li {
                list-style-type: none;
                margin-left: 0;
			}
			div#mainfull{
				width: 910px;
			}
        /* END MAIN */
        
        /* SUB */
            div#sub h1 {
                padding-top: 3px;
            }
            div#sub h2 {
                margin-bottom: 5px;
            }
            
            div#sub ul li {
                list-style-type: none;
                padding-bottom: 6px;
            }
                div#sub p.line {
                    border-top: 1px dotted #ccc;
                    margin: 15px 0;
                }
            
        /* END SUB */
        
    /* END CONTENT */
    
    /* FOOTER */
        div#footer {
            color: #444;
			margin-top: 40px;
            padding-top: 20px;
            padding-bottom: 10px;
            text-align: center;
            clear: both;
            background-color: #e6e6e6;
            margin-bottom: 0px;
        }

            div#footer .left {
                float: left;
            }

            div#footer .right {
                float: right;
            }
    /* END FOOTER */
/* END LAYOUT */
