div#main h1{
	color: #077a2d;
	margin-bottom: 0px;
}

fieldset{
	border-style: none;
	padding-left: 0px;
}

.h1tax,
.h1occ{
	padding-bottom: 15px;
	margin-top: -14px;
}

.h1meta{
	padding-bottom: 13px;
}

.explanationp{
	margin-top: 0px;
}

.explMt{
	margin-top: 10px;
}

div#resourceListContainer{

}

#resourceName{
	margin-bottom: 0px;
}

#sub h1{
	margin-bottom: 0px;
}

.horizontal_dotted_line_large{
	border-bottom: 1px dotted #666666;
	width: 700px;
	margin-left: -7px;
	margin-top: -5px;
	margin-bottom: 20px;
	line-height: 1px;	
}


.horizontal_dotted_line_xlarge{
	border-bottom: 1px dotted #666666;
	width: 100%;
	margin-left: -7px;
	margin-top: -5px;
	margin-bottom: 20px;
	line-height: 1px;
	margin-left: 2px;
}


.horizontal_dotted_line_xlarge_soft{
	border-bottom: 1px dotted #b0b0a0;
	width: 910px;
	margin-left: -7px;
	margin-top: -5px;
	margin-bottom: 20px;
	line-height: 1px;	
}

.horizontal_dotted_line_xlarge_soft_foo{
	border-bottom: 1px dotted #b0b0a0;
	width: 100%;
	margin-left: -7px;
	margin-top: 15px;
	margin-bottom: 20px;
	line-height: 1px;	
}

.horizontal_dotted_line_xlarge_foo{
	border-bottom: 1px dotted #666666;
	width: 910px;
	margin-left: -7px;
	margin-top: 8px;
	margin-bottom: 0px;
	line-height: 1px;	
}


.horizontal_dotted_line_large_foo{
	border-bottom: 1px dotted #666666;
	width: 700px;
	margin-left: -7px;
	margin-top: 8px;
	margin-bottom: 0px;
	line-height: 1px;	
}

.horizontal_dotted_line_large_soft{
	border-bottom: 1px dotted #b0b0a0;
	width: 700px;
	margin-left: -7px;
	margin-top: -5px;
	margin-bottom: 20px;
	line-height: 1px;	
}

.horizontal_dotted_line_large_soft_nm{
	border-bottom: 1px dotted #b0b0a0;
	width: 700px;
	margin-left: -7px;
	margin-top: -5px;
	margin-bottom: 0px;
	line-height: 1px;	
}

.horizontal_dotted_line_small{
	border-bottom: 1px dotted #666666;
	width: 185px;
	margin-left: -7px;
	margin-top: -5px;
	margin-bottom: 20px;
	line-height: 1px;	
}

.horizontal_dotted_line_small_foo{
	border-bottom: 1px dotted #666666;
	width: 185px;
	margin-left: -7px;
	margin-top: 8px;
	margin-bottom: 0px;
	line-height: 1px;	
}


.horizontal_dotted_line_graph{
	border-bottom: 1px dotted #666666;
	width: 100%;
	margin-left: -7px;
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
	line-height: 1px;	
}

input.button, button{
	width: 90px;
	text-align: center;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 0pt;
	padding-left: 0pt;
	margin-top: 0px;
	margin-left: 0px;
}

#publishingForm input.button, button{
	width: 90px;
	text-align: center;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 0pt;
	padding-left: 0pt;
	margin-top: -5px;
	margin-left: 5px;
}

span.pagelinks{
	display: block;
	margin-bottom: 5px;
	margin-top: 14px;
	padding-top: 2px;
	padding-right: 0pt;
	padding-bottom: 2px;
	padding-left: 0pt;
	text-align: right;
	width: 100%;
}

.submenulabel{
	margin-bottom: 10px;
}

div.exportlinks{
	margin-top: -5px;
	margin-right: 0pt;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 0pt;
	width: 100%;
}

table.pickList td select{
	width: 120px;
}

table.pickList td button{
	margin-bottom: 15px;
	margin-right: 3px;
	width: 70px;
}

#moveRight1{
	margin-top: 10px;
}

h3.accordionHeader{
	color: #666;
	font-size: 1.8em;
	height: 32px;
	border-bottom: 1px dotted #999999;
}

span.pagebanner{
	margin-top: -56px;
}

div#publish{
	margin-top: 14px;
}

div.modifiedDate{
	margin-top: 0px;
	text-align: right;
}

div.breakRightButtons {
	clear: both;
	text-align: right;
	padding-right: 0px;
	padding-top: 10px;
}

div.usersButtons{
	float: right;
	text-align: right;
	padding-top: 0px;
	margin-top: 20px;
	height: 30px;
	padding-left: 10px;
	width: 200px;
}

div.break79{
	height: 79px;
}

div.break10{
	height: 10px;
}

div.break20{
	height: 20px;
}

div.break55{
	height: 55px;
}