[Unit]
Description=GBIF Integrated Publishing Toolkit
After=network.target remote-fs.target
Documentation=man:ipt(7)

[Service]
EnvironmentFile=/etc/sysconfig/ipt
# Unpack the IPT's WAR file into /run/ipt/work
RuntimeDirectory=ipt
ExecStartPre=/usr/bin/mkdir -p /run/ipt/work
ExecStart=/usr/bin/java -Djetty.home=/run/ipt -jar /usr/share/java/jetty/jetty-runner.jar --port $IPT_PORT /usr/share/java/gbif/ipt.war
Restart=on-failure
User=ipt
Group=ipt
SyslogIdentifier=ipt

[Install]
WantedBy=multi-user.target
