/* @override http://localhost:8080/styles/simplicity/providertool.css */

/* PROVIDERTOOL customising simplicity */


h2 {
	margin-top: 20px;
}

table.lefthead td {
	padding-left: 20px;
}
table.lefthead th, td {
	padding-bottom: 5px;
}

.subentry {
	display: block;
	color: #8f0000;
}

.subform {
	margin-left: 50px;
}
div#preview td {
	padding: 5px;
}
div.break {
	clear: both;
	padding-top: 25px;
}

div#header .left {
        float: left;
}

div#header .right {
        padding: 0 39px;
        float: right;
}    
#logo {
	top: 15px;
	position: relative;
}
.reminder {
	font-style: italic;
	color: gray;
	background: url(/images/mandatory.gif) no-repeat;
	padding-left: 20px;
}
ul.actionmenu {
	float: none;
	clear: none;
	display: block;
}
ul.actionmenu li{
	float: none;
	list-style-type: none;
	display: inline;
	border: 1px solid #c1c6d0;
    margin: 0;
    padding: 0;
	padding-right: 10px;
	padding-left: 10px;
}

            
 
 
/*    PORTAL    */
div.chart{
	width: 340px;
	display: block;
	float: left;
	height: 300px;
}
#time-pie {
	width: 500px;
}
#loc-tax, #loc-geoserver, #col-pie {
	position: relative;
	left: 30px;
}
.map img{
	border: 1px solid #000;
}
.chart img{
	display: block;
	margin-top: 5px;
}

div.chart select {
	float: right;
	bottom: 5px;
	position: relative;
}
