
@import url(nav-horizontal.css);
 
/* NAV BAR AT THE TOP AND TWO COLUMNS OF CONTENT */
    div#content {
        position: relative;
        width: 940px;
/*         margin: 0 auto 20px auto; */
        padding: 0;
        text-align: left;
    }

 /* HEADER */
        div#header {
            text-align: left;
            height: 79px; /* needed by IE 7 */
            width: 940px;
            margin-bottom: 90px;
            padding-left: 10px;
            padding-bottom: 0px;
            vertical-align: bottom;
        }
      	div#logo{
      		float: left;
      		width: 150px;
      	}
		div#switchLocale{
			width: 940px;
			text-align: right;
		}
        div#branding {
            float: right;
            width: 500px;
            margin: auto;
            text-align: right;
			vertical-align: bottom;
			padding-top: 35px;
        }
        div#branding img{
        	vertical-align: bottom;
        }
        div#search {
            float: right;
            width: 49%;
            margin: 0;
            padding: 10px 15px 0 0;
            text-align: right;
        }
    /* END HEADER */


    div#main {
        float: left;
        width: 700px;
        display: inline;
    }
    div#sub {
        float: right;
        width: 210px;
        display: inline;
        margin-right: -10px;
        margin-bottom: 30px;
    }
        div#sub ul#local {
            padding: 0;
            margin: 0;
            margin-left: 10px;
        }
    div#nav {
        position: absolute;
        top: -15px;
        width: 100%;
        left: 7px;
        text-align: left;
    }
    
	div#navContainer{
		background-color: #ededed;
		width: 960px;
		height: 42px;
		padding-top: 6px;
		margin-left: -10px;				
	}    
    
    div#recentlyViewedResources label{
    	margin-bottom: -7px;
		font-style: normal;    	
    }
    div#fullsearch{
    	padding-top: 13px;
    }
    
    div#fullsearch label{
    	margin-bottom: 7px;
		font-style: normal;
    }
    
/* END CONTENT */