
@import url(nav-horizontal.css);
 

/* SITE SPECIFIC LAYOUT */
    body {
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
		padding: 0;
        background: #cccccc;
        text-align: center;
    }
    div#page {
        width: 940px;
        margin: 0 auto;
        padding-top: 15px;
        padding-right: 25px;
        padding-left: 10px;
        padding-bottom: 40px;
        text-align: center;
        background-color: #FFF;
    }
    
    /* HEADER */
        div#header {
            text-align: left;
            height: 79px; /* needed by IE 7 */
            width: 940px;
            margin-bottom: 90px;
            padding-left: 10px;
            padding-bottom: 0px;
            vertical-align: bottom;
        }
      	div#logo{
      		float: left;
      		width: 150px;
      	}
		div#switchLocale{
			width: 940px;
			text-align: right;
		}
        div#branding {
            float: right;
            width: 500px;
            margin: auto;
            text-align: right;
			vertical-align: bottom;
			padding-top: 35px;
        }
        div#branding img{
        	vertical-align: bottom;
        }
        div#search {
            float: right;
            width: 49%;
            margin: 0;
            padding: 10px 15px 0 0;
            text-align: right;
        }
    /* END HEADER */

/* NAV BAR AT THE TOP AND ONE COLUMN OF CONTENT */
    div#content {
        position: relative;
        width: 925px;
        margin: 0 auto 20px auto;
        padding: 0;
        text-align: left;
    }
    div#main {
        width: 97% !important;
        text-align: center;
        margin: 0;
    }
        div#main h1 {
            margin-left: -330px;
        }
        div#main p {
            margin-top: 10px;
            margin-bottom: 0;
            padding-bottom: 0;
        }

    div#local {
        display: none;
    }
    div#sub {
        display: none;
    }
    
	div#navContainer{
		background-color: #ededed;
		width: 960px;
		height: 42px;
		padding-top: 6px;;
		margin-left: -10px;				
	}
	    
    div#nav {
        position: absolute;
        top: -15px;
        width: 100%;
        text-align: left;
    }
/* END CONTENT */