
/* SITE SPECIFIC LAYOUT */
    body {
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
		padding: 0;
        background: #cccccc;
        text-align: center;
    }
    div#page {
        width: 940px;
        margin: 0 auto;
        padding-top: 15px;
        padding-right: 25px;
        padding-left: 10px;
        padding-bottom: 40px;
        text-align: center;
        background-color: #FFF;
    }
    
    /* HEADER */
        div#header {
            text-align: left;
            height: 79px; /* needed by IE 7 */
            width: 940px;
            margin-bottom: 90px;
            padding-left: 10px;
            padding-bottom: 0px;
            vertical-align: bottom;
        }
      	div#logo{
      		float: left;
      		width: 150px;
      	}
        div#switchLocale {
            position: absolute;
            right: 10px;
        }
        div#branding {
            float: right;
            width: 500px;
            margin: auto;
            text-align: right;
			vertical-align: bottom;
			padding-top: 35px;
        }
        div#branding img{
        	vertical-align: bottom;
        }
        div#search {
            float: right;
            width: 49%;
            margin: 0;
            padding: 10px 15px 0 0;
            text-align: right;
        }
    /* END HEADER */
    
    /* CONTENT */
        div#content {
        }
            body#error #content {
                margin-top: 20px;
            }
        /* MAIN */
            div#main {
                padding-left: 15px;
                margin-bottom: 15px;
            }
            div#main form ul li {
                list-style-type: none;
                margin-left: 0;
			}
			div#mainfull{
				width: 940px;
			}
        /* END MAIN */
        
        /* SUB */
            div#sub h2 {
                margin-bottom: 5px;
            }
            
            div#sub ul li {
                list-style-type: none;
                padding-bottom: 10px;
            }
                div#sub p.line {
                    border-top: 1px dotted #ccc;
                    margin: 15px 0;
                }
            
        /* END SUB */
        
    /* END CONTENT */
    
    /* FOOTER */
        div#footer {
            color: #444;
            padding-left: 6px;
			width: 940px;
            text-align: center;
            clear: both;
        }

            div#footer div#divider {
            		margin-bottom: 20px;
                    border-top: 1px solid #ccc;
            }

            div#footer div#divider div {
                    margin: 1px 0 0 0;
                    border-top: 6px solid #ebf5fc;
            }

            div#footer .left {
                    float: left;
            }

            div#footer .right {
                    float: right;
            }
    /* END FOOTER */
/* END LAYOUT */
