/*
 For css overrides needed for customizations.
 By having this separate file for css overrides, it should be easier to backup and restore customizations.
 If some organization want to style the IPT to their own branding and they want to support more backward compatibility
 they can create their own modernizr.js with the desired supported elements. They only have to replace the 'default'
 file with their own.
*/
a {
  color: #008959;
  font-weight: normal;
}
.green{
  color: #008959;
}
#region-menu nav ul li.current {
  background-color: #008959;
  width: 620px;
}
#region-content h1 {
  color: #008959;
}
div.groupmenu ul li a {
  color: #008959;
}
table#rtable thead{
  background-color: #dbf0e8;
}
.dataTables_filter {
  background-color: #dbf0e8;
}
tr.even td.sorting_1 {
  background-color: #E6F5EB;
}
.actionMessage{
  color: #008959;
  background-color: #dbf0e8;
}

/******************************************************
* Fontawesome
******************************************************/
.icon-background {
	color: #c4e5d8;
}

.icon-foreground {
	color: #008959;
}	

.icon-background-grey {
	color: #d4d4d4;
}

.icon-foreground-grey {
	color: #7f7f7f;
}	

.icon-shadow {
	text-shadow: 1px 0px 1px #333;
}	
/*** End Fontawesome ***/
