.navbar {
    box-shadow: none !important;
}

.bg-gbif-main-navbar {
    background: #f8f9fa !important;
}

.navbar-button {
    color: #4E565F !important;
}

.navbar-button:hover {
    box-shadow: 0 .25rem .5rem rgba(0,0,0,.15)!important;
}

.nav-link.active {
    color: #4E565F !important;
}

.nav-link {
    color: rgba(78, 86, 95, 0.55) !important;
}

.nav-link:hover {
    color: rgba(78, 86, 95, 0.75) !important;
}

.nav-link-account {
    color: #4E565F !important;
}

.gbif-heartbeat-icon, .gbif-translate-icon {
    fill: rgba(78, 86, 95, 0.55);
}

.gbif-heartbeat-icon:hover, .gbif-translate-icon:hover {
    fill: rgba(78, 86, 95, 0.75);
}

.gbif-heartbeat-icon:active, .gbif-translate-icon:active {
    fill: #4E565F;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(78, 86, 95)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
    border-color: rgba(78, 86, 95, 0.55) !important;
}

/* Nav borders */
@media (max-width: 1199px) {
    .nav-item-border-bottom:not(no-border) {
        border-bottom: 1px solid #4E565F;
    }

    .nav-item-border-top:not(no-border) {
        border-top: 1px solid #4E565F;
    }
}
