/* Custom blue IPT theme */
/* Nav color */
.bg-gbif-main-navbar {
    background: white;
}

/* Nav toggler */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(29, 134, 200)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
    border-color: rgb(29, 134, 200) !important;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem rgba(29, 134, 200, 0.25) !important;
}

/* Nav links */
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
    color: #4F82BB;
}

.navbar-dark .navbar-nav .nav-link {
    color: #4a4a4a;
}

/* Nav button */
.navbar-button {
    color: #1D86C8 !important;
    background: white;
    border: 1px solid #1D86C8 !important;
}

.dropdown-item:active {
    background-color: #1D86C8 !important;
}

/* Nav icons */
.gbif-translate-icon, .gbif-heartbeat-icon {
    fill: #4a4a4a;
}

.gbif-translate-icon:hover, .gbif-heartbeat-icon:hover {
    fill: #1D86C8;
}

/* GBIF primary outline buttons */
.btn-outline-gbif-primary {
    color: #1D86C8;
    border-color: rgba(29, 134, 200, 0.5);
}
.btn-outline-gbif-primary:hover {
    color: #1D86C8;
    background-color: rgba(29, 134, 200, 0.04);
    border-color: #1D86C8;
}
.btn-check:focus + .btn-outline-gbif-primary, .btn-outline-gbif-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(29, 134, 200, 0.25); !important;
}
.btn-check:checked + .btn-outline-gbif-primary, .btn-check:active + .btn-outline-gbif-primary, .btn-outline-gbif-primary:active, .btn-outline-gbif-primary.active, .btn-outline-gbif-primary.dropdown-toggle.show {
    color: #fff !important;
    background-color: #1D86C8 !important;
    border-color: #1D86C8 !important;
}
.btn-check:checked + .btn-outline-gbif-primary:focus, .btn-check:active + .btn-outline-gbif-primary:focus, .btn-outline-gbif-primary:active:focus, .btn-outline-gbif-primary.active:focus, .btn-outline-gbif-primary.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(29, 134, 200, 0.25) !important;
}
.btn-outline-gbif-primary:disabled, .btn-outline-gbif-primary.disabled {
    color: #1D86C8 !important;
    background-color: transparent !important;
}

/* Form control */
.form-control:focus {
    background-color: #fff;
    border-color: #1D86C8;
    outline: 0;
    box-shadow: none;
}

.form-select:focus {
    border-color: #1D86C8;
    outline: 0;
    box-shadow: none;
}

.form-check-input:not(.is-invalid):focus {
    border-color: #1D86C8;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(29, 134, 200, 0.25);
}

.form-check-input:not(.is-invalid):checked {
    background-color: #1D86C8;
    border-color: #1D86C8;
}

/* Primary colors */
.text-gbif-primary {
    color: #1D86C8;
}

.bg-gbif-primary {
    background-color: #1D86C8;
}

/* Admin items */
.admin-col-listing .admin-col-listing-item .admin-icon {
    color: #1D86C8;
}

/* Custom colors for tables pagination items */
.page-link {
    color: #1D86C8 !important;
}
.page-link:hover {
    color: #1D86C8 !important;
}
.page-link:focus {
    color: #1D86C8 !important;
    box-shadow: 0 0 0 0.25rem rgba(29, 134, 200, 0.25) !important;
}
.page-item.active .page-link {
    background-color: #1D86C8 !important;
    border-color: #1D86C8 !important;
}

/* Links color with exception for some classes */
a:not(.btn, .button, .navbar-brand, .nav-link, .menu-link, .popover-link, .admin-col-listing-item, .doi) {
    color: #1D86C8 !important;
    text-decoration: none !important;
}

a:not(.btn, .button, .navbar-brand, .nav-link, .menu-link, .popover-link, .admin-col-listing-item, .doi):focus,
a:not(.btn, .button, .navbar-brand, .nav-link, .menu-link, .popover-link, .admin-col-listing-item, .doi):hover {
    color: #1D86C8 !important;
    text-decoration: underline !important;
}

/* Data records color */
ul.horizontal_graph .grey_bar {
    background-color: rgba(29, 134, 200, 0.5);
}

/* Watermark color */
#watermark {
    color: #1D86C8;
}

/* Datepicker color */
.datepicker table tr td span.active, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active:hover {
    background-image: linear-gradient(to bottom, #1D86C8, #1D86C8) !important;
}

.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover {
    background-image: linear-gradient(to bottom, #1D86C8, #1D86C8) !important;
}

/* Select2 color */
.select2-container--bootstrap4 .select2-results__option--highlighted, .select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected="true"] {
    background-color: #1D86C8 !important;
}

.select2-container--bootstrap4.select2-container--focus .select2-selection {
    border-color: #1D86C8 !important;
    -webkit-box-shadow: 0 0 0 0.25rem rgba(29, 134, 200, 0.25) !important;
    box-shadow: 0 0 0 0.25rem rgba(29, 134, 200, 0.25) !important;
}

/* Autocomplete component color */
.ui-menu-item:hover {
    background-color: #1D86C8;
}
