.form-control, .form-select {
    min-height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
}

.select2-container--bootstrap4 .select2-selection--single {
    height: calc(1.5em + .5rem + 2px) !important;
    font-size: .875rem !important;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    line-height: calc(1.5em + .5rem) !important;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
    line-height: calc(1.5em + .5rem) !important;
}

.select2-container--bootstrap4 .select2-selection__clear {
    margin-top: .625em !important;
}

.select2-results__option, .select2-search__field {
    font-size: .875rem;
}
