/* CSS file */

Button.providersButton{
	up-skin: Embed(source='ui.swf', symbol='btnProviders_up');
	over-skin: Embed(source='ui.swf', symbol='btnProviders_over');
	down-skin: Embed(source='ui.swf', symbol='btnProviders_over');
	font-family: "DINOT-Medium";
	font-size: 9;
	color: #FFFFFF;
	text-roll-over-color: #FFFFFF;
	padding-bottom: 1;
	padding-top: 29;
	font-weight: normal;
}

Button.smallButton{
	up-skin: Embed(source='ui.swf', symbol='btnSmall_up');
	over-skin: Embed(source='ui.swf', symbol='btnSmall_over');
	down-skin: Embed(source='ui.swf', symbol='btnSmall_over');
	font-family: "DINOT-Medium";
	font-size: 9;
	color: #FFFFFF;
	text-roll-over-color: #FFFFFF;
	font-weight: normal;
	padding-top: 4;
}

.buttonFoo{
	skin: ClassReference(null);
	up-skin: ClassReference(null);
	over-skin: ClassReference(null);
	down-skin: ClassReference(null);
	disabled-skin: ClassReference(null);
	text-roll-over-color: #FFFFFF;
}

Canvas.headerCanvas{
	background-color: #00AC1A;
	border-style: solid;
	border-color: #c1cdda;
	border-thickness: 1;
}

ScrollBar{
	downArrowDisabledSkin: Embed(source="ui.swf", symbol="ScrollArrowDown_disabledSkin");
	downArrowDownSkin: Embed(source="ui.swf", symbol="ScrollArrowDown_downSkin");
	downArrowOverSkin: Embed(source="ui.swf", symbol="ScrollArrowDown_overSkin");
	downArrowUpSkin: Embed(source="ui.swf", symbol="ScrollArrowDown_upSkin");
	thumbDownSkin: Embed(source="ui.swf", symbol="ScrollThumb_downSkin");
	thumbIcon: Embed(source="ui.swf", symbol="ScrollBar_thumbIcon");
	thumbOverSkin: Embed(source="ui.swf", symbol="ScrollThumb_overSkin");
	thumbUpSkin: Embed(source="ui.swf", symbol="ScrollThumb_upSkin");
	trackSkin: Embed(source="ui.swf", symbol="ScrollTrack_Skin");
	upArrowDisabledSkin: Embed(source="ui.swf", symbol="ScrollArrowUp_disabledSkin");
	upArrowDownSkin: Embed(source="ui.swf", symbol="ScrollArrowUp_downSkin");
	upArrowOverSkin: Embed(source="ui.swf", symbol="ScrollArrowUp_overSkin");
	upArrowUpSkin: Embed(source="ui.swf", symbol="ScrollArrowUp_upSkin");
}

.advancedDataGrid{
	font-family: "DINOT-Medium";
	color: #666666;
	text-roll-over-color: #999999;
	font-size: 13px;
	theme-color: green;
}
