#!/bin/sh
# https://www.debian.org/doc/manuals/dbconfig-common/ch-develguide.html
#
# config maintainer script for ipt

set -e

# source debconf stuff
. /usr/share/debconf/confmodule
# source dbconfig-common shell library, and call the hook function

read_datadir_location() {
  if [ -f "$1" ]; then
    cat "$1"
  else
    echo ""
  fi
}

CONFIG_FILE="/var/lib/tomcat9/webapps/ipt/WEB-INF/datadir.location"
EXISTING_DATA_DIR=$(read_datadir_location "$CONFIG_FILE")

if [ ! -z "$EXISTING_DATA_DIR" ]; then
  db_set ipt/data-dir "$EXISTING_DATA_DIR"
fi

# Ask the user for the data directory using debconf
db_input high ipt/data-dir || true
db_go || true

exit 0
