
/* * { padding:0; margin:0; } */


@import url(nav-horizontal.css);
 
/* NAV BAR AT THE TOP AND TWO COLUMNS OF CONTENT */
    div#content {
        width: 926px;
        margin-top: 15px;
    }

    div#nav {
        left: 10px;
        top: -60px;
    }

	div#navContainer{
		padding-left: 0px;
	}
	
    div#main {
        float: left;
        width: 690px;
        display: inline;
    }
    div#sub {
        float: right;
        width: 190px;
        display: inline;
        margin-bottom: 30px;
        margin-right: 5px;
    }
        div#sub ul#local {
            padding: 0;
            margin: 0;
            margin-left: 10px;
        }  
    div#fullsearch{
    	padding-top: 0px;
    }
    
    div#fullsearch label{
    	margin-bottom: 8px;
		font-style: normal;
    }
    
/* END CONTENT */