/* @override http://localhost:8080/styles/gbifn/providertool2.css */

div#main h1{
	color: #077a2d;
	margin-bottom: 0px;
}

div#sub h1{
	color: #077a2d;
	margin-bottom: 0px;
}

fieldset{
	border-style: none;
	padding-left: 0px;
}

.h1tax,
.h1occ{
	padding-bottom: 15px;
	margin-top: -14px;
}

.h1meta{
	padding-bottom: 13px;
}

.explanationp{
	margin-top: 0px;
}

.explMt{
	margin-top: 10px;
}

div#resourceListContainer{

}

#resourceName{
	margin-bottom: 0px;
}

#sub h1{
	margin-bottom: 0px;
}

#topmenu{
	padding-top: 0px;
	margin-top: -4px;
	margin-right: -12px;
}

#flagContainer{
	position: absolute;
	top: 30px;
	text-align: left;
	padding-right:0px;
	border: 1px solid silver;
	background-image: url('/images/assets/bkgFlagSelector.gif');
	height: 11px;
	width: 25px;
}

.comboFoo{
	width: 30px;
}

#switchLocale{
	position: absolute;
	top: 43px;
	margin-top: 0px;
	padding-top: 0px;
}

.horizontal_dotted_line_large{
	border-bottom: 1px dotted #666666;
	width: 700px;
	margin-left: -7px;
	margin-top: -5px;
	margin-bottom: 20px;
	line-height: 1px;
}


.horizontal_dotted_line_xlarge{
	border-bottom: 1px dotted #666666;
	width: 100%;
	margin-left: -7px;
	margin-top: -5px;
	margin-bottom: 20px;
	line-height: 1px;
	margin-left: 0px;
}


.horizontal_dotted_line_xlarge_soft{
	border-bottom: 1px dotted #b0b0a0;
	width: 910px;
	margin-left: -7px;
	margin-top: -5px;
	margin-bottom: 20px;
	line-height: 1px;	
}

.horizontal_dotted_line_xlarge_soft_foo{
	border-bottom: 1px dotted #b0b0a0;
	width: 100%;
	margin-left: -7px;
	margin-top: 15px;
	margin-bottom: 20px;
	line-height: 1px;	
}

.horizontal_dotted_line_xlarge_foo{
	border-bottom: 1px dotted #666666;
	width: 910px;
	margin-left: -7px;
	margin-top: 8px;
	margin-bottom: 0px;
	line-height: 1px;	
}


.horizontal_dotted_line_large_foo{
	border-bottom: 1px dotted #666666;
	width: 700px;
	margin-left: -7px;
	margin-top: 8px;
	margin-bottom: 0px;
	line-height: 1px;	
}

.horizontal_dotted_line_large_soft{
	border-bottom: 1px dotted #b0b0a0;
	width: 700px;
	margin-left: -7px;
	margin-top: -5px;
	margin-bottom: 20px;
	line-height: 1px;	
}

.horizontal_dotted_line_large_soft_nm{
	border-bottom: 1px dotted #b0b0a0;
	width: 700px;
	margin-left: -7px;
	margin-top: -5px;
	margin-bottom: 0px;
	line-height: 1px;	
}

.horizontal_dotted_line_small{
	border-bottom: 1px dotted #666666;
	width: 185px;
	margin-left: -7px;
	margin-top: -5px;
	margin-bottom: 20px;
	line-height: 1px;	
}

.horizontal_dotted_line_small_foo{
	border-bottom: 1px dotted #666666;
	width: 185px;
	margin-left: -7px;
	margin-top: 8px;
	margin-bottom: 0px;
	line-height: 1px;	
}


.horizontal_dotted_line_graph{
	border-bottom: 1px dotted #666666;
	width: 100%;
	margin-left: -7px;
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
	line-height: 1px;	
}

input.button, button{
	width: 90px;
	text-align: center;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 0pt;
	padding-left: 0pt;
	margin-top: 0px;
	margin-left: 0px;
}

#publishingForm input.button, button{
	width: 90px;
	text-align: center;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 0pt;
	padding-left: 0pt;
	margin-top: 0px;
	margin-left: 5px;
}

span.pagelinks{
	display: block;
	margin-bottom: 5px;
	margin-top: 14px;
	padding-top: 2px;
	padding-right: 0pt;
	padding-bottom: 2px;
	padding-left: 0pt;
	text-align: right;
	width: 100%;
}

.submenulabel{
	margin-bottom: 10px;
}

div.exportlinks{
	margin-top: -5px;
	margin-right: 0pt;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 0pt;
	width: 100%;
}

table.pickList td select{
	width: 120px;
}

table.pickList td button{
	margin-bottom: 15px;
	margin-right: 3px;
	width: 70px;
}

#moveRight1{
	margin-top: 10px;
}

h3.accordionHeader{
	color: #666;
	font-size: 1.8em;
	height: 32px;
	border-bottom: 1px dotted #999999;
}

span.pagebanner{
	margin-top: -56px;
}

div#publish{
	margin-top: 14px;
}

div.modifiedDate{
	margin-top: 0px;
	text-align: right;
}

div.breakRightButtons {
	clear: both;
	text-align: right;
	padding-right: 0px;
	padding-top: 10px;
}

div.usersButtons{
	float: right;
	text-align: right;
	padding-top: 0px;
	margin-top: 20px;
	height: 30px;
	padding-left: 10px;
	width: 200px;
}

#statusContainer{
	width: 160px;
	border: 1px solid #ccc;
	padding: 8px;
	text-align: center;
}
#statusContainer div.arrow {
	float: right;
	position: relative;
	bottom: 36px;
}
#statusContainer .publishButton{
	width: 80px;
	position: relative;
	bottom: 12px;
}
.unpublished{
	background-color: #fdd8d6;
}
.modified{
	background-color: #feffe6;
}
.published{
	background-color: #e2f9d7;
}
#registryDetails {
	width: 300px;
	border-style: dashed;
	border-width: 1px;
	background-color: #efefef;
	text-align: left;
}
#registryDetails th{
	text-transform: capitalize;
}
#registryDetails td{
	padding-left: 10px;
}
div#jsalert{
	position: absolute;
	top: 1px;
	background:#feffe6 none repeat scroll 0 0;
	border:1px solid #ffe1ac;
	z-index: 10;
	width: 98%;
	left: 0px;
	padding-left: 15px;
	padding-right: 15px;
}

div#jsalert img{
	text-align: left;
	float: left;
	margin-right: 13px;
	margin-top: 8px;
}

div#jsalert textColumn{
	text-align: left;
	float: right;
}

div#jsalert h2{
	color: #ff7e00;
	margin: 0px;
	margin-top: 9px;
}


div.error, span.error, li.error, div.message{
	background:#feffe6 none repeat scroll 0 0;
	border:1px solid #ffe1ac;
	margin:10px auto;
	padding:3px;
	text-align:left;
	color: #666666;
	vertical-align:bottom;
}

#map{
	border: none;
	margin-top: 18px;
}

div.break10{
	height: 10px;
}

div.break20{
	height: 20px;
}

div.break35{
	height: 35px;
}

div.break55{
	height: 55px;
}

div.break79{
	height: 79px;
}

