<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
    default-lazy-init="true">

    <context:annotation-config/>
    <context:component-scan base-package="org.gbif.provider" /> 
    
    <bean id="datasourceRegistry" class="org.gbif.provider.datasource.DatasourceRegistry" >
        <property name="datasources">
            <map key-type="java.lang.Long">
                <entry key="1" value-ref="pontaurusDataSource"/>
                <entry key="2" value-ref="biocaseDataSource"/>
            </map>
        </property>
    </bean>
    
    <bean id="externalResourceRoutingDatasource" class="org.gbif.provider.datasource.ExternalResourceRoutingDatasource">
        <property name="targetDataSources" ref="datasourceRegistry"/>
    </bean>

    <!-- for testing the abstract routing datasource -->
    <bean id="parentDataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource" abstract="true">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="username" value="root"/>
    </bean>
    
    <bean id="pontaurusDataSource" parent="parentDataSource">
        <property name="url" value="jdbc:mysql://localhost/pontaurus"/>
    </bean>
    <bean id="biocaseDataSource" parent="parentDataSource">
        <property name="url" value="jdbc:mysql://localhost/biocase_training"/>
    </bean>
    
    
    <!-- DAOs  -->
    <bean id="occResourceDao" class="org.appfuse.dao.hibernate.GenericDaoHibernate">
        <constructor-arg value="org.gbif.provider.model.OccurrenceResource"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="datasourceInspection" class="org.gbif.provider.dao.jdbc.DatasourceInspectionImpl">
        <property name="dataSource" ref="externalResourceRoutingDatasource"/>
    </bean>
    

    <!--  Managers  -->
    <bean id="occResourceManager" class="org.gbif.provider.service.impl.DatasourceBasedResourceManagerImpl">        
        <constructor-arg ref="occResourceDao"/>
    </bean>    
    
</beans>