<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
    default-lazy-init="true">

    <context:annotation-config/>
    <context:component-scan base-package="org.gbif.provider" /> 
    
    <!-- security interceptors -->
    <bean id="managerInterceptor" class="org.appfuse.webapp.interceptor.UserRoleAuthorizationInterceptor">
        <property name="authorizedRoles" value="ROLE_MANAGER"/>
    </bean>
    

    <!-- external datasource routing/registry -->
    <bean id="datasourceInterceptor" class="org.gbif.provider.datasource.DatasourceInterceptor">
    </bean>
    
    <bean id="datasourceRegistry" class="org.gbif.provider.datasource.DatasourceRegistry" >
        <property name="occResourceManager" ref="occResourceManager"/>
    </bean>
    
    <bean id="externalResourceRoutingDatasource" class="org.gbif.provider.datasource.ExternalResourceRoutingDatasource">
        <property name="targetDataSources">
            <map key-type="java.lang.Long" />            
        </property>
    </bean>
    
    
    <!-- DAOs  -->
    <bean id="occResourceDao" class="org.appfuse.dao.hibernate.GenericDaoHibernate">
        <constructor-arg value="org.gbif.provider.model.OccurrenceResource"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="viewMappingDao" class="org.appfuse.dao.hibernate.GenericDaoHibernate">
        <constructor-arg value="org.gbif.provider.model.ViewMapping"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="dwcExtensionDao" class="org.appfuse.dao.hibernate.GenericDaoHibernate">
        <constructor-arg value="org.gbif.provider.model.DwcExtension"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="datasourceInspectionDao" class="org.gbif.provider.dao.jdbc.DatasourceInspectionDaoImpl">
        <property name="dataSource" ref="externalResourceRoutingDatasource"/>
    </bean>
    

    <!--  Managers  -->
    <bean id="occResourceManager" class="org.gbif.provider.service.impl.DatasourceBasedResourceManagerImpl">        
        <constructor-arg ref="occResourceDao"/>
    </bean>

    <bean id="viewMappingManager" class="org.appfuse.service.impl.GenericManagerImpl">        
        <constructor-arg ref="viewMappingDao"/>
    </bean>    
    
    <bean id="dwcExtensionManager" class="org.appfuse.service.impl.GenericManagerImpl">        
        <constructor-arg ref="dwcExtensionDao"/>
    </bean>    

    <bean id="datasourceInspectionManager" class="org.gbif.provider.service.impl.DatasourceInspectionManagerImpl" />        
        
    
</beans>