<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- 
        This is a dummy only
        
        The real log4j configurations are sitting in data/logging
        The user can configure at runtime which configuration to use.
		
		This one is picked up by default the first time the IPT is launched, and is the same as the production one
		
		TODO - change the web.xml to use the production one insead of this one (Tim in airport and no internet to see how to do this
		now...)
    -->

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p %t-%c{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>
    
    
    <!-- for debugging all httpclient communication, especially with registry -->
    <logger name="httpclient.wire.header">
        <level value="ERROR"/>
    </logger>
    <logger name="httpclient.wire.content">
        <level value="ERROR"/>
    </logger>


    <!-- freemarker.template -->
    <logger name="freemarker">
        <level value="WARN"/>
    </logger>

    <!-- net.sf.navigator, net.sf.ehcache -->
    <logger name="net.sf">
        <level value="ERROR"/>
    </logger>

    <!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->
    <logger name="org.springframework.security">
        <level value="ERROR"/>
    </logger>

    <logger name="org.apache">
        <level value="WARN"/>
    </logger>

    <logger name="org.apache.velocity">
        <level value="FATAL"/>
    </logger>
    <logger name="velocity">
        <level value="FATAL"/>
    </logger>

  
    <logger name="org.hibernate">
        <level value="WARN"/>
    </logger>
    <logger name="org.hibernate.SQL">
        <level value="WARN"/>
    </logger>
    

    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>

    <!-- Turn off all webwork2 stuff -->
    <logger name="com.opensymphony.xwork2">
        <level value="ERROR"/>
    </logger>

    <!-- http://issues.appfuse.org/browse/APF-736#action_11786 -->
    <logger name="com.opensymphony.xwork2.util.XWorkConverter">
        <level value="FATAL"/>
    </logger>

    <!-- http://issues.appfuse.org/browse/APF-852 -->
    <logger name="com.opensymphony.xwork2.util.OgnlUtil">
        <level value="ERROR"/>
    </logger>

    <!-- Turn off warnings from messages.jsp -->
    <logger name="com.opensymphony.xwork2.util.OgnlValueStack">
        <level value="ERROR"/>
    </logger>    
    
    <!-- Turn off warnings from VelocityMenuDisplayer -->
    <logger name="net.sf.navigator.displayer">
        <level value="ERROR"/>
    </logger>    

    <logger name="org.appfuse">
        <level value="WARN"/>
    </logger>

    <!-- org.codehaus.xfire.aegis, org.codehaus.xfire.spring.remoting.Jsr181HandlerMapping -->
    <logger name="org.codehaus">
        <level value="WARN"/>
    </logger>
    <!-- org.tuckey.web.filters.urlrewrite.UrlRewriter -->
    <logger name="org.tuckey">
        <level value="WARN"/>
    </logger>

    
    <!-- GBIF things -->
    <logger name="org.gbif.provider">
        <level value="WARN" />
    </logger>
    
    <root>
        <level value="WARN"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>