<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:util="http://www.springframework.org/schema/util"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd"
       default-lazy-init="true">
    
	<!-- Daos -->
	<bean id="abstractDao" abstract="true">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="jobDao" class="org.gbif.scheduler.dao.hibernate.JobDaoHibernate" parent="abstractDao"/>
		
	<!-- Managers -->
	<bean id="jobManager" class="org.gbif.scheduler.service.impl.JobManagerImpl">
        <constructor-arg ref="jobDao"/>
    </bean>


	<!-- Testing only -->	
	<bean id="workerPoolFactory" class="org.gbif.scheduler.mock.WorkerPoolFactory">
		<constructor-arg ref="jobDao"/>
	</bean>
	<bean id="mockInstance" class="org.gbif.scheduler.mock.MockInstance"/>
	<bean id="mockJob" class="org.gbif.scheduler.mock.MockJob">
		<constructor-arg ref="mockInstance"/>
	</bean>
</beans>