<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	
	<!-- 
		This is console only during development,
		A running IPT adds a new data dir file based logger.
		Users can switch from this to a production log4j definition in a running system
	-->
	
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p [%c] - %m%n"/>
		</layout>
	</appender>
	
	<appender name="LOGFILE" class="org.gbif.ipt.utils.LogFileAppender">
		<param name="file" value="debug.log "/>
		<param name="maxFileSize" value="10MB"/>
		<param name="maxBackupIndex" value="10"/>
		<param name="append" value="false"/>		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{dd-MMM-yyyy HH:mm:ss} [%c] - %m%n"/>
		</layout>
	</appender>
	
	<appender name="ADMINFILE" class="org.gbif.ipt.utils.LogFileAppender">
		<param name="threshold" value="WARN"/>
		<param name="file" value="admin.log "/>
		<param name="maxFileSize" value="2MB"/>
		<param name="maxBackupIndex" value="0"/>
		<param name="append" value="false"/>		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{dd-MMM-yyyy HH:mm:ss} %m%n"/>
		</layout>
	</appender>
	
	<logger name="org.apache.http.headers">
		<level value="info" />
	</logger>
	<logger name="log4j.logger.org.apache.http">
		<level value="info" />
	</logger>
	
	<logger name="org">
		<level value="INFO" />
	</logger>
	<logger name="com">
		<level value="INFO" />
	</logger>
	<logger name="com.opensymphony.xwork2">
		<level value="WARN" />
	</logger>
	<logger name="freemarker">
		<level value="WARN" />
	</logger>
	
	<logger name="org.gbif">
		<level value="DEBUG" />
		<appender-ref ref="ADMINFILE"/>
	</logger>
	
	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="LOGFILE"/>
	</root>
</log4j:configuration>