
/* PROVIDERTOOL customising simplicity */

table.lefthead td {
	padding-left: 20px;
}
table.lefthead th, td {
	padding-bottom: 5px;
}

.subentry {
	display: block;
	color: #8f0000;
}

.subform {
	margin-left: 50px;
}
div#preview td {
	padding: 5px;
}
