
table {
    font-size: 1em;
    margin: 0 0 1.5em 0;
    padding: 0;
}

table caption {
    font-weight: bold;
    margin: 0 0 0 0;
    padding: 0 0 1.5em 0;
}

th {
    font-weight: bold;
    text-align: left;
	vertical-align: top;
}

td {
    font-size: 1em;
}

    .table {
        border-collapse: collapse;
        border: 1px solid #9ab9a3;
        color: #333;
        background: #FFF;
        width: 100%;
    }
        .table caption {
            padding: 0 0.6em 0.8em;
            font-size: 1.3em;
            font-weight: bold;
            text-align: left;
            color: #000;
            background: transparent;
        }
        /* For Tapestry's contribTable */
        .table th table, .table th table td {
            width: 100%;
            border: 0px;
        }
        .contribTable th {
            padding: 0px !important;
            background: #bfe5ca;
        }
        .contribTable th .tableHeaderTable {
            margin: 0px !important;
        }
        .table td, .table th, .tableHeaderTable td {
            border: 1px solid #e0e0e0;
            padding: 0.5em;
        }
        .table thead th, .tableHeaderTable td {
            border: 1px solid #e0e0e0;
            text-align: left;
            font-size: 1em;
            font-weight: bold;
            background: #bfe5ca;
        }
        .tableHeaderTable td a {
            text-decoration: none !important;
        }
        .table tfoot th, tfoot td {
            border: 1px solid #e0e0e0;
            text-align: left;
            font-size: 1em;
            background: #e8e8cf;
        }
        .table tfoot th {
            font-weight: bold;
        }
        .table tbody td a {
            background: transparent;
            text-decoration: underline;
        }
        .table tbody td a:hover {
            background: transparent;
            text-decoration: underline;
        }
        .table tbody th a {
            background: transparent;
            text-decoration: underline;
            font-weight: bold;
        }
        .table tbody th, .table tbody td {
            text-align: left;
        }
        .table tfoot td {
            border: 1px solid #996;
        }
        .table tbody tr:hover, .table tr.over, .contribTable tr:hover {
            background: #ffffdf !important; /* important needed for Tapestry, as is .table tr:hover */
        }
        .contribTable tr.even {
            background: #fff !important;
        }
        .contribTable tr.odd {
            background: #eeeeee !important;
        }
        

.tableMoreLink{
	text-align: right;
	margin-top: -10px;	
}

.table th.sorted{
	background-color: #9ab9a3;
	color: #333333;
}

.extensionListTable{
	width: 100%;
}

.extensionListTable tr{
	height: 16px;
	vertical-align: middle;
}

.extensionTable th{
	padding-right: 20px;
}

.vocabularyListTable{
	width: 100%;
}
