<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
                        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
                        default-lazy-init="true">

    <context:annotation-config/>
    <context:component-scan base-package="org.gbif.provider" /> 
    
    <!-- application properties -->    
    <bean id="configUtil" class="org.gbif.provider.util.ConfigUtil">
        <property name="appBaseUrl" value="${app.baseUrl}" />
    </bean>


    <!-- security interceptors -->
    <bean id="managerInterceptor" class="org.appfuse.webapp.interceptor.UserRoleAuthorizationInterceptor">
        <property name="authorizedRoles" value="ROLE_MANAGER"/>
    </bean>
    

    <!-- external datasource routing/registry -->
    <bean id="datasourceInterceptor" class="org.gbif.provider.datasource.DatasourceInterceptor">
    </bean>
    
    <bean id="datasourceRegistry" class="org.gbif.provider.datasource.DatasourceRegistry" >
        <property name="occResourceManager" ref="occResourceManager"/>
    </bean>
    
    <bean id="externalResourceRoutingDatasource" class="org.gbif.provider.datasource.ExternalResourceRoutingDatasource">
        <property name="targetDataSources">
            <map key-type="java.lang.Long" />            
        </property>
    </bean>


    
    <!--  ABSTRACT MANAGERS / DATASOURCES  -->
    <bean id="entityManagerFactory"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!--property name="jpaVendorAdapter">
            <bean
                class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="database" value="MYSQL" />
                <property name="showSql" value="true" />
            </bean>
        </property-->
    </bean>
    
    <!--bean id="transactionManager"
        class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean-->
    
    <bean id="abstractHibernate" abstract="true">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    
    <!--  MANAGER  -->
    <bean id="resourceFactory" class="org.gbif.provider.service.impl.ResourceFactoryImpl">        
        <constructor-arg ref="extensionManager"/>
    </bean>
    
    <!-- 
        <bean id="dataResourceManager" class="org.gbif.provider.service.impl.DatasourceBasedResourceManagerImpl" parent="abstractHibernate">        
        <constructor-arg value="org.gbif.provider.model.DatasourceBasedResource"/>
        </bean>
    -->
    <bean id="occResourceManager" class="org.gbif.provider.service.impl.OccResourceManagerHibernate" parent="abstractHibernate"/>
    <bean id="checklistResourceManager" class="org.gbif.provider.service.impl.DatasourceBasedResourceManagerHibernate" parent="abstractHibernate">        
        <constructor-arg value="org.gbif.provider.model.ChecklistResource"/>
    </bean>
    <bean id="resourceManager" class="org.gbif.provider.service.impl.ResourceManagerHibernate" parent="abstractHibernate">        
        <constructor-arg value="org.gbif.provider.model.Resource"/>
    </bean>

    <bean id="viewMappingManager" class="org.gbif.provider.service.impl.GenericManagerHibernate" parent="abstractHibernate">        
        <constructor-arg value="org.gbif.provider.model.ViewMappingBase"/>
    </bean>    
    
    <bean id="extensionManager" class="org.gbif.provider.service.impl.GenericManagerHibernate" parent="abstractHibernate">        
        <constructor-arg value="org.gbif.provider.model.Extension"/>
    </bean>    
    
    <bean id="uploadEventManager" class="org.gbif.provider.service.impl.UploadEventManagerHibernate" parent="abstractHibernate"/>        
    
    <bean id="darwinCoreManager" class="org.gbif.provider.service.impl.DarwinCoreManagerHibernate" parent="abstractHibernate"/>        
        
    <bean id="extensionRecordManager" class="org.gbif.provider.service.impl.ExtensionRecordManagerJDBC" >
        <property name="dataSource" ref="dataSource"/>        
    </bean>

    <bean id="datasourceInspectionManager" class="org.gbif.provider.service.impl.DatasourceInspectionManagerJDBC">        
        <property name="dataSource" ref="externalResourceRoutingDatasource"/>
    </bean>
    
    <bean id="tabFileProcessManager" class="org.gbif.provider.service.impl.TabFileProcessManagerImpl"/>        
    
    
    
    <!-- SCHEDULER -->
    <bean id="jobDao" class="org.gbif.scheduler.dao.hibernate.JobDaoHibernate" parent="abstractHibernate"/>
    <bean id="jobManager" class="org.gbif.scheduler.service.impl.JobManagerImpl">        
        <constructor-arg ref="jobDao"/>
    </bean>
    
    <!-- LOGGING -->
    <bean id="logEventDao" class="org.gbif.logging.dao.hibernate.LogEventDaoHibernate" parent="abstractHibernate"/>
    <bean id="logEventManager" class="org.gbif.logging.service.impl.LogEventManagerImpl">
        <constructor-arg ref="logEventDao"/>
    </bean>
    <!-- Configure the i18n Log4J appender -->
    <bean id="i18nDatabaseAppender" class="org.gbif.logging.log.I18nDatabaseAppender">
        <property name="logEventDao" ref="logEventDao"/>
    </bean>
    
    
    <!-- SCHEDULER JOBS -->
    <bean id="occDbUploadJob" class="org.gbif.provider.job.OccDbUploadJob">
        <constructor-arg ref="occResourceManager"/>
        <constructor-arg ref="uploadEventManager"/>
        <constructor-arg ref="datasourceInspectionManager"/>
        <constructor-arg ref="extensionRecordManager"/>
        <constructor-arg ref="darwinCoreManager"/>
    </bean> 
    
</beans>