<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.ejb.naming_strategy">${hibernate.namingStrategy}</property>

        
        <!-- HIBERNATE SEARCH -->
        <!-- the default directory provider -->
        <property name="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</property>
        <!--  the default base directory for the indecies -->
        <property name="hibernate.search.default.indexBase">${h8search.indexBase}</property>
        <!-- turn off indexing by default for tests -->
        <property name="hibernate.search.autoregister_listeners">false</property>

        
        <mapping class="org.gbif.provider.model.Annotation"/>
        <mapping class="org.gbif.provider.model.ChecklistResource"/>
        <mapping class="org.gbif.provider.model.CoreRecord"/>
        <mapping class="org.gbif.provider.model.DarwinCore"/>
        <mapping class="org.gbif.provider.model.DataResource"/>
        <mapping class="org.gbif.provider.model.Extension"/>
        <mapping class="org.gbif.provider.model.ExtensionMapping"/>
        <mapping class="org.gbif.provider.model.ExtensionProperty"/>
        <mapping class="org.gbif.provider.model.OccurrenceResource"/>
        <mapping class="org.gbif.provider.model.OccStatByRegionAndTaxon"/>        
        <mapping class="org.gbif.provider.model.PropertyMapping"/>
        <mapping class="org.gbif.provider.model.ProviderCfg"/>
        <mapping class="org.gbif.provider.model.Region"/>
        <mapping class="org.gbif.provider.model.Resource"/>
        <mapping class="org.gbif.provider.model.ResourceMetadata"/>
        <mapping class="org.gbif.provider.model.Role"/>
        <mapping class="org.gbif.provider.model.SourceBase"/>
        <mapping class="org.gbif.provider.model.SourceSql"/>
        <mapping class="org.gbif.provider.model.SourceFile"/>
        <mapping class="org.gbif.provider.model.Taxon"/>
        <mapping class="org.gbif.provider.model.TermMapping"/>
        <mapping class="org.gbif.provider.model.ThesaurusConcept"/>
        <mapping class="org.gbif.provider.model.ThesaurusTerm"/>
        <mapping class="org.gbif.provider.model.ThesaurusVocabulary"/>
        <mapping class="org.gbif.provider.model.Transformation"/>
        <mapping class="org.gbif.provider.model.UploadEvent"/>
        <mapping class="org.gbif.provider.model.User"/>
        <!-- embeddable -->
        <mapping class="org.gbif.provider.model.BBox"/>
        <mapping class="org.gbif.provider.model.Point"/>
        
    </session-factory>
</hibernate-configuration>