<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:util="http://www.springframework.org/schema/util"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd"
       default-lazy-init="true">
    
	<!-- Daos -->
	<bean id="abstractDao" abstract="true">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="logEventDao" class="org.gbif.logging.dao.hibernate.LogEventDaoHibernate" parent="abstractDao"/>
		
	<!-- Managers -->
    <bean id="logEventManager" class="org.gbif.logging.service.impl.LogEventManagerImpl">
        <constructor-arg ref="logEventDao"/>
    </bean>
	
	<!-- Configure the i18n Log4J appender -->
	<bean id="i18nDatabaseAppender" class="org.gbif.logging.log.I18nDatabaseAppender">
		<property name="logEventDao" ref="logEventDao"/>
	</bean>

</beans>